@use "sass:math";
@use "settings" as *;
@use "vars" as *;
// ========================================================
// .block-head {
// }
.btn {
	display: inline-flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: 700;
	line-height: 1.22;
	color: var(--white-color);
	background-color: var(--red-light);
	border-radius: toRem(10);
	@include adaptiveValue("font-size", 22, 12);
	@include adaptiveValue("padding-block", 14.5, 10);
	@include adaptiveValue("padding-inline", 30.5, 10);

	transition:
		background-color 0.3s ease,
		box-shadow 0.3s ease;
	&:focus-visible {
		outline: toRem(2) solid var(--red-light);
		outline-offset: toRem(2);
	}
	@media (any-hover: hover) and (any-pointer: fine) {
		&:hover {
			background-color: var(--red-light);
			box-shadow: toRem(0) toRem(2) toRem(10) toRem(2) rgba(#fe3f3f, 0.6);
		}
	}

	&--card {
		@include adaptiveValue("font-size", 18, 16);
		font-weight: 700;
		@include adaptiveValue("padding-block", 17, 10);
	}
	&--form {
		@include adaptiveValue("font-size", 22, 16);
		max-width: toRem(440);
		width: 100%;
		// @include adaptiveValue("padding-inline", 181.5, 10);
		padding-inline: toRem(20);
	}
	&--violet {
		// align-self: self-start;
		background-color: var(--violet-color);
		@include adaptiveValue("padding-block", 22.5, 10);
		@include adaptiveValue("padding-inline", 91, 10);
		@include adaptiveValue("font-size", 22, 16);
		@media (width < toEm(479)) {
			flex-grow: 1;
			width: 100%;
		}
		&:focus-visible {
			outline: toRem(2) solid var(--violet-color);
			outline-offset: toRem(2);
		}
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				box-shadow: toRem(0) toRem(2) toRem(20) toRem(2) rgba(#412672, 0.6);
				background-color: var(--violet-color);
			}
		}
	}
}
//=========================================================
.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	> * {
		&:not(:last-child):not(.form__title) {
			margin-bottom: toRem(20);
		}
	}
	// .form__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 20, 10);
		}
		@include adaptiveValue("font-size", 32, 20);
		line-height: 1.21;
		font-weight: 700;
	}
	// .form__body
	&__body {
		> * {
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 20, 10);
			}
		}
	}
	// .form__input
	&__input {
		border: toRem(1) solid var(--violet-light);
		background: rgba(251, 239, 251, 0.7);
		border-radius: toRem(10);
		@include adaptiveValue("padding-block", 13.5, 10);
		@include adaptiveValue("padding-inline", 28, 10);
		@include adaptiveValue("font-size", 18, 15);
		&::placeholder {
			@include adaptiveValue("font-size", 18, 15);
			line-height: 1.7;
			text-transform: capitalize;
			transition: opacity 0.3s ease;
		}
		&:focus::placeholder {
			opacity: 0;
		}
		&:focus-visible {
			outline: toRem(2) solid var(--violet-light);
			outline-offset: toRem(2);
		}
	}
	// .form__select
	&__select {
	}
	// .form__button
	&__button {
	}
}
//=========================================================
.select {
	// .select__title
	&__title {
		font-weight: 700;
		line-height: 1.22;
		@include adaptiveValue("font-size", 18, 16);
		@include adaptiveValue("margin-bottom", 20, 10);
	}
	// .select__box
	&__box {
		> * {
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 15, 10);
			}
		}
	}
	// .select__group
	&__group {
	}
	// .select__checkbox
	&__checkbox {
		display: flex;
		cursor: pointer;
		position: relative;
	}
	// .select__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:checked + .select__label::before {
			border: toRem(3) solid var(--violet-light);
			background-color: var(--violet-light);
			box-shadow: inset 0 0 0 toRem(3) rgba(255, 255, 255, 1);
			transition:
				background-color 0.3s ease,
				box-shadow 0.3s ease;
		}
		&:focus-visible + .select__label::before {
			border: toRem(3) solid var(--violet-light);
		}
		&:focus-visible + .select__label {
			outline: toRem(2) solid var(--violet-light);
			outline-offset: toRem(3);
			border-radius: toRem(6);
			color: var(--violet-color);
		}
	}
	// .select__label
	&__label {
		position: relative;
		display: flex;
		line-height: 1.18;
		align-items: center;
		transition: color 0.3s ease;
		@include adaptiveValue("font-size", 16, 13);
		@include adaptiveValue("column-gap", 8, 5);
		&::before {
			content: "";
			@include adaptiveValue("width", 27, 16);
			@include adaptiveValue("height", 27, 16);
			border-radius: toRem(10);
			border: toRem(3) solid var(--violet-light1);
			flex-shrink: 0;
			transition: border 0.3s ease;
			align-self: self-start;
		}
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				color: var(--violet-color);
			}
			&:hover::before {
				border: toRem(3) solid var(--violet-light);
			}
		}
	}
}
//=========================================================
// .link {
// 	span {
// 		position: relative;
// 		display: inline-block;
// 	}
// 	span::after {
// 		content: "";
// 		position: absolute;
// 		left: 50%;
// 		bottom: toRem(-3);
// 		width: 0%;
// 		background-color: var(--accent-color);
// 		height: toRem(2);
// 		transition: width 0.3s ease;
// 		transform: translate(-50%, 0%);
// 	}
// 	&:hover span::after {
// 		width: 100%;
// 	}
// }
//=========================================================
//line-running my variant
// .line-running {
// 	span {
// 		position: relative;
// 		display: inline-block;
// 	}
// 	span::after {
// 		content: "";
// 		position: absolute;
// 		right: 0%;
// 		bottom: toRem(-3);
// 		width: 0%;
// 		background-color: var(--accent-color);
// 		height: toRem(2);
// 		transition: width 0.3s ease;
// 		transform: translate(0%, 0%);
// 	}
// 	span::before {
// 		content: "";
// 		position: absolute;
// 		left: 0%;
// 		bottom: toRem(-3);
// 		width: 0%;
// 		background-color: var(--accent-color);
// 		height: toRem(2);
// 		transition:
// 			width 0.3s ease,
// 			opacity 0.1s ease;
// 		transform: translate(0%, 0%);
// 		opacity: 0;
// 	}
// 	&:hover span::before {
// 		width: 100%;
// 		opacity: 1;
// 	}
// 	&:hover span::after {
// 		width: 100%;
// 		opacity: 0;
// 	}
// }
//=========================================================
//link-round
// .link-round {
// 	span {
// 		position: relative;
// 		display: inline-block;
// 		transition: color 0.3s ease;
// 		padding-block: toRem(5);
// 		padding-inline: toRem(10);
// 	}
// 	span::after {
// 		content: "";
// 		position: absolute;
// 		z-index: -1;
// 		left: 0%;
// 		bottom: 0;
// 		background-color: var(--accent-color);
// 		transition: height 0.2s ease;
// 		transform: translate(0%, 0%);
// 		width: 100%;
// 		height: 0%;
// 		border-radius: toRem(10);
// 	}
// 	&:hover span::after {
// 		height: 100%;
// 	}
// 	& span:hover {
// 		color: white;
// 	}
// }
//=========================================================
.text {
	&--white {
		color: #fff;
	}
}
.title {
	@include adaptiveValue("font-size", 38, 26);
	line-height: 1.2;
	color: var(--violet-color);
	&--27 {
		@include adaptiveValue("font-size", 27, 20);
		max-width: toRem(505);
	}
	&--34 {
		@include adaptiveValue("font-size", 34, 20);
	}
	&--black {
		color: var(--black-color);
		@include adaptiveValue("font-size", 30, 20);
	}
	&--white {
		color: var(--white-color);
		@include adaptiveValue("font-size", 38, 24);
	}
	&--white-24 {
		@include adaptiveValue("font-size", 24, 20);
	}
}
//=========================================================
// Second variant line-running
// .actions-header__link--login span {
// 	position: relative;
// 	display: inline-block;
// }
// .actions-header__link--login span::before {
// 	content: "";
// 	position: absolute;
// 	inset-block-start: 100%;
// 	inset-inline-start: 0;
// 	inline-size: 100%;
// 	block-size: 0.125rem; /* 2/16 */
// 	background-color: var(--accent-color);
// 	transition: transform 0.3s;
// 	transform: scale(0, 1);
// 	transform-origin: right;
// }
// .actions-header__link--login span:focus-visible::before {
// 	transform: scale(1, 1);
// 	transform-origin: left;
// }
// @media (any-hover) {
// 	.actions-header__link--login span:hover::before {
// 		transform: scale(1, 1);
// 		transform-origin: left;
// 	}
// }
//=========================================================
//=========================================================
//line-running optimization
// .item-elevate__anchor {
// 	position: relative;
// 	display: inline-block;
// }
// .item-elevate__anchor::before {
// 	content: "";
// 	position: absolute;
// 	inset-block-start: 100%;
// 	inset-inline-start: 0;
// 	inline-size: 100%;
// 	block-size: 0.125rem; /* 2/16 */
// 	background-color: var(--link-color);
// 	transition: transform 0.3s;
// 	transform: scale(0, 1);
// 	transform-origin: right;
// }
// .item-elevate__anchor:focus-visible::before {
// 	transform: scale(1, 1);
// 	transform-origin: left;
// }
// @media (any-hover) {
// 	.item-elevate__anchor:hover::before {
// 		transform: scale(1, 1);
// 		transform-origin: left;
// 	}
// }
//=========================================================
.btn {
	position: relative;
	// display: inline-block;
	overflow: hidden;
}
.btn::before {
	content: "";
	border-radius: toRem(10);
	position: absolute;
	inset-block-start: 0;
	inset-inline-start: 0;
	inline-size: 100%;
	block-size: 100%;
	background-color: var(--violet-color);
	transition: transform 0.3s;
	transform: scale(1, 0);
	transform-origin: bottom; //right
	opacity: 0.2;
}
.btn:focus-visible::before {
	transform: scale(1, 1);
	transform-origin: top; //bottom
	border-radius: toRem(10);
}
@media (any-hover) {
	.btn:hover::before {
		transform: scale(1, 1);
		transform-origin: bottom; //left
		border-radius: toRem(10);
	}
}
//=========================================================
.btn--form {
	position: relative;
	display: inline-block;
	overflow: hidden;
}
.btn--form::before {
	content: "";
	border-radius: toRem(10);
	position: absolute;
	inset-block-start: 0;
	inset-inline-start: 0;
	inline-size: 100%;
	block-size: 100%;
	background-color: var(--violet-color);
	transition: transform 0.3s;
	transform: scale(1, 0);
	transform-origin: bottom;
	opacity: 0.2;
}
.btn--form:focus-visible::before {
	transform: scale(1, 1);
	transform-origin: top;
	border-radius: toRem(10);
}
@media (any-hover) {
	.btn--form:hover::before {
		transform: scale(1, 1);
		transform-origin: bottom;
		border-radius: toRem(10);
	}
}
//=========================================================
.btn--card {
	position: relative;
	display: inline-block;
	overflow: hidden;
}
.btn--card::before {
	content: "";
	border-radius: toRem(10);
	position: absolute;
	inset-block-start: 0;
	inset-inline-start: 0;
	inline-size: 100%;
	block-size: 100%;
	background-color: var(--violet-color);
	transition: transform 0.3s;
	transform: scale(1, 0);
	transform-origin: bottom;
	opacity: 0.2;
}
.btn--card:focus-visible::before {
	transform: scale(1, 1);
	transform-origin: top;
	border-radius: toRem(10);
}
@media (any-hover) {
	.btn--card:hover::before {
		transform: scale(1, 1);
		transform-origin: bottom;
		border-radius: toRem(10);
	}
}
//=========================================================
.btn--violet {
	position: relative;
	display: inline-block;
	overflow: hidden;
}
.btn--violet::before {
	content: "";
	border-radius: toRem(10);
	position: absolute;
	inset-block-start: 0;
	inset-inline-start: 0;
	inline-size: 100%;
	block-size: 100%;
	background-color: var(--gray-color3);
	transition: transform 0.3s;
	transform: scale(1, 0);
	transform-origin: bottom;
	opacity: 0.2;
}
.btn--violet:focus-visible::before {
	transform: scale(1, 1);
	transform-origin: top;
	border-radius: toRem(10);
}
@media (any-hover) {
	.btn--violete:hover::before {
		transform: scale(1, 1);
		transform-origin: bottom;
		border-radius: toRem(10);
	}
}
