@use "sass:math";
@use "settings" as *;
@use "vars" as *;
// =======================================================================================================================
.footer {
	background-color: var(--white-color);
	// .footer__container
	&__container {
		display: flex;
		flex-direction: column;
		@include adaptiveValue("gap", 28, 15);
		@include adaptiveValue("padding-block", 54, 22);
		@media (width < toEm(480)) {
			align-items: center;
			text-align: center;
		}
	}
	// .footer__logo
	&__logo {
		align-self: flex-start;
	}
	// .footer__text
	&__text {
		line-height: 1.22;
		@include adaptiveValue("font-size", 18, 14);
		> p {
			&:not(:last-child) {
				margin-bottom: toRem(10);
			}
		}
	}
	// .footer__copy
	&__copy {
		line-height: 1.22;
		@include adaptiveValue("font-size", 18, 16);
		span {
			font-weight: normal;
			text-transform: capitalize;
		}
	}
}
