:root {
	--mainFont: "Inter", sans-serif;

	// Colors
	--white-color: #fff;
	--violet-color: #412672;
	--violet-light: #b8a9d3;
	--violet-light1: #9890a8;
	--red-light: #fe3f3f;
	--gray-color1: #808080;
	--gray-color2: #4f4f4f;
	--gray-color3: #e5e5e5;
	--yellow-color: #ffc107;
	--black-color: #000;
	--black-light-color: #202020;
	--btn-red-hover: #000;
}
