@use "sass:math";
@use "../settings" as *;
@use "../vars" as *;
// =======================================================================================================================
// Hero section
.page {
	// .page__hero
	&__hero {
		position: relative;
		background: linear-gradient(180deg, #e5efff 0%, rgba(229, 239, 255, 0.262661) 83.7%, rgba(229, 239, 255, 0) 100%);
		@include adaptiveValue("padding-bottom", 100, 0);
		@include adaptiveValue("margin-bottom", 100, 30);
		&::after {
			content: "";
			position: absolute;
			top: toRem(0);
			right: toRem(0);
			background: url("../img/hero-images/bg-vector.webp") 0 0 / 100% no-repeat;
			width: 51.5%;
			height: 100%;
		}
		@media (width <= toEm(1040)) {
			&::after {
				content: "";
				display: none;
			}
		}
	}
}
.hero {
	// .hero__container
	&__container {
		display: flex;
		min-height: 90svh;
		align-items: center;
		@include adaptiveValue("padding-top", 180, 80);
		position: relative;
		@include adaptiveValue("column-gap", 45, 20);
		@media (width <= toEm(1040)) {
			flex-wrap: wrap;
			@include adaptiveValue("row-gap", 60, 45);
		}
	}
	// .hero__content
	&__content {
		flex: 0 1 toRem(818);
		@media (width <= toEm(1040)) {
			flex-grow: 1;
			flex-basis: 100%;
		}
	}
	// .hero__title
	&__title {
		text-wrap: balance;
		@include typography("h1");
		font-weight: 700;
		line-height: 1.11;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 29, 15);
		}
	}
	// .hero__text
	&__text {
		max-width: toRem(706);
		@media (width <= toEm(1040)) {
			max-width: 100%;
		}
		> p {
			&:not(:last-child) {
				margin-bottom: toRem(10);
			}
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 15);
		}
	}
	// .hero__links
	&__links {
		display: flex;
		flex-wrap: wrap;
		column-gap: toRem(12);
		align-items: center;
		text-align: center;
		@media (width <= toEm(401)) {
			flex-direction: column;
			gap: toRem(10);
		}
	}
	// .hero__or
	&__separator {
		color: var(--text-color);
	}
	// .hero__link
	&__link {
		position: relative;
		display: inline-block;
		font-weight: 500;
		line-height: 1.16667;
		outline: none;
		&:focus-visible {
			outline-offset: toRem(3);
			outline: toRem(2) solid var(--orange-color);
		}
		@media (width <= toEm(401)) {
			align-self: stretch;
		}
	}
	// .hero__images
	&__images {
		flex: 0 1 toRem(717);
		@include adaptiveValue("margin-right", -220, 0);
		@media (width <= toEm(1770)) {
			margin: toRem(0) auto;
		}
	}
}
.images-hero {
	// .images-hero__items
	&__items {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			z-index: 2;
			@include adaptiveValue("bottom", 100, 0);
			background: url("../img/hero-images/decor/dots-top.svg") 0 0 / 100% no-repeat;
			width: toRem(250);
			height: toRem(475);
			right: toRem(165);
			@media (width <= toEm(1770)) {
				right: toRem(0);
			}
			@media (width <= toEm(1040)) {
				display: none;
			}
		}
	}
	// .images-hero__item
	&__item {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			z-index: 2;
			top: 84px;
			background: url("../img/hero-images/decor/dots-left.svg") 0 0 / 100% no-repeat;
			width: toRem(600);
			height: toRem(520);
			left: toRem(-18);
			@media (width <= toEm(768)) {
				display: none;
			}
		}
		&::after {
			content: "";
			position: absolute;
			z-index: 1;
			@include adaptiveValue("bottom", -208, -180);
			background: url("../img/hero-images/decor/dots-bottom.svg") 0 0 / 100% no-repeat;
			width: toRem(250);
			height: toRem(475);
			right: toRem(-5);
			@media (width <= toEm(1770)) {
				right: toRem(-100);
			}
			@media (width <= toEm(1040)) {
				right: toRem(0);
				height: toRem(150);
				bottom: toRem(-100);
			}
			@media (width <= toEm(768)) {
				display: none;
			}
		}
	}
	// .images-hero__img
	&__img {
		// .images-hero__img--01
		&--01 {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: relative;
			z-index: 3;
			border-radius: toRem(20);
			box-shadow: toRem(0) toRem(18) toRem(52.85) rgba(162, 173, 192, 0.5);
			max-width: toRem(386);
			aspect-ratio: 386 / 176;
			@include adaptiveValue("margin-right", -90, 0);
			@include adaptiveValue("margin-left", 40, 0);
			@media (width <= toEm(1040)) {
				margin-left: toRem(0);
			}
			@media (width <= toEm(564)) {
				max-width: 100%;
				width: 100%;
				margin-right: toRem(0);
				position: relative;
				&:not(:last-child) {
					margin-bottom: toRem(20);
				}
			}
		}
		// .images-hero__img--02
		&--02 {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: toRem(20);
			position: relative;
			z-index: 2;
			right: toRem(0);
			margin-top: toRem(-375);
			max-width: toRem(717);
			aspect-ratio: 717 / 422;
			@include adaptiveValue("margin-left", 118, 0);
			@media (width <= toEm(564)) {
				display: none;
			}
		}
		// .images-hero__img--03
		&--03 {
			object-fit: cover;
			max-width: toRem(389);
			aspect-ratio: 389 / 213;
			position: relative;
			top: toRem(0);
			z-index: 2;
			margin-top: toRem(-98);
			@include adaptiveValue("margin-left", 230, 0);
			filter: drop-shadow(toRem(0) toRem(18) toRem(52.85) rgba(215, 228, 249, 0.5));
			border-radius: toRem(20);
			@media (width <= toEm(1040)) {
				@include adaptiveValue("margin-left", 270, 60);
			}
			@media (width <= toEm(564)) {
				max-width: 100%;
				width: 100%;
				margin-left: toRem(0);
				margin-top: toRem(0);
				&:not(:last-child) {
					margin-bottom: toRem(20);
				}
			}
		}
	}
	// .images-hero__icons
	&__icons {
		margin-top: toRem(-212);
		@media (width <= toEm(1040)) {
			margin-top: toRem(0);
			height: toRem(0);
		}
		@media (width <= toEm(564)) {
			display: flex;
			align-items: center;
			justify-content: space-around;
			height: auto;
		}
	}
	// .images-hero__icon
	&__icon {
		&--red {
			width: toRem(98);
			height: toRem(68);
			padding-top: toRem(17);
			padding-bottom: toRem(16);
			padding-inline: toRem(33);
			background-color: #ef4358;
			border-radius: toRem(31);
			z-index: 3;
			position: relative;
			@include adaptiveValue("left", 650, 0);
			@media (width <= toEm(1660)) {
				margin-top: toRem(10);
				@include adaptiveValue("left", 80, 0);
			}
			@media (width <= toEm(1370)) {
				width: toRem(68);
				height: toRem(55);
				padding-top: toRem(12);
				padding-bottom: toRem(12);
				padding-inline: toRem(20);
			}
			@media (width <= toEm(1040)) {
				bottom: toRem(80);
				position: absolute;
				@include adaptiveValue("left", 620, 570);
			}
			@media (width <= toEm(685)) {
				@include adaptiveValue("left", 80, 0);
			}
			@media (width <= toEm(564)) {
				margin-top: toRem(0);
				left: toRem(0);
				width: 48px;
				height: 35px;
				padding-top: toRem(7);
				padding-bottom: toRem(8);
				padding-inline: toRem(14);
				bottom: toRem(0);
				position: relative;
			}
		}
		&--blue {
			background-color: #5a54f2;
			border-radius: toRem(38);
			padding-top: toRem(17);
			padding-bottom: toRem(18);
			padding-left: toRem(17);
			padding-right: toRem(17);
			width: toRem(75);
			height: toRem(65);
			z-index: 3;
			position: relative;
			@include adaptiveValue("left", 90, 0);
			@media (width <= toEm(1370)) {
				width: toRem(65);
				height: toRem(55);
				padding-top: toRem(12);
				padding-bottom: toRem(13);
				padding-left: toRem(12);
				padding-right: toRem(12);
				@include adaptiveValue("left", 80, 0);
			}
			@media (width <= toEm(1040)) {
				bottom: toRem(210);
			}
			@media (width <= toEm(564)) {
				margin-top: toRem(0);
				left: toRem(0);
				width: toRem(45);
				height: toRem(35);
				padding-top: toRem(8);
				padding-bottom: toRem(12);
				padding-left: toRem(10);
				padding-right: toRem(12);
				top: toRem(0);
			}
		}
	}
	// .images-hero__image-icon
	&__image-icon {
	}
	// .images-hero__link
	&__link {
		position: relative;
		z-index: 3;
		@include adaptiveValue("margin-left", 40, -15);
		@include adaptiveValue("bottom", 25, 0);
		&:focus-visible {
			outline-offset: toRem(2);
			outline: toRem(2) solid var(--orange-color);
		}
		@media (width <= toEm(564)) {
			margin-left: toRem(0);
			bottom: toRem(0);
			display: flex;
			justify-content: center;
			&:not(:last-child) {
				margin-bottom: toRem(25);
			}
		}
	}
	// .images-hero__popup
	&__popup {
	}
}
.popup {
	position: relative;
	z-index: 3;
	border: toRem(40) solid transparent;
	border-color: rgba(90, 84, 242, 0.1);
	width: toRem(250);
	height: toRem(250);
	overflow: hidden;
	bottom: toRem(80);
	border-radius: 50%;
	transition: transform 0.3s ease;
	@include adaptiveValue("left", 220, 0);
	@media (width <= toEm(564)) {
		margin-inline: auto;
		left: 0;
		width: toRem(150);
		height: toRem(150);
		bottom: 0;
		&:not(:last-child) {
			margin-bottom: toRem(25);
		}
	}
	// .popup__inner
	&__inner {
		display: flex;
		background-color: #5a54f2;
		height: 100%;
		width: 100%;
		border-radius: 50%;
		text-align: center;
		transition: transform 0.3s ease;
		will-change: transform;
		backface-visibility: hidden;
		overflow: hidden;
		&:hover {
			transform: scale(0.98);
		}
	}
	// .popup__video
	&__video {
		@include adaptiveValue("font-size", 16, 10);
		@include adaptiveValue("gap", 15, 5);
		display: grid;
		align-content: center;
		font-weight: 500;
		line-height: 1.16;
		color: var(--text-popup);
		transition: transform 0.3s ease;
		will-change: transform;
		backface-visibility: hidden;
		border-radius: 50%;
		overflow: hidden;
		height: 100%;
		width: 100%;
	}
	// .popup__traingle
	&__triangle-right {
		margin: 0 auto;
		width: 0;
		height: 0;
		border-top: toRem(20) solid transparent;
		border-left: toRem(30) solid var(--white-color);
		border-bottom: toRem(20) solid transparent;
		transform: translateX(toRem(2));
		@media (width <= toEm(564)) {
			border-top: toRem(10) solid transparent;
			border-left: toRem(15) solid var(--white-color);
			border-bottom: toRem(10) solid transparent;
		}
	}
}
// =======================================================================================================================
//	Elevate section
.page {
	// .page__elevate
	&__elevate {
		@include adaptiveValue("margin-bottom", 85, 30);
	}
}
.elevate {
	// .elevate__container
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	// .elevate__title
	&__title {
		@include typography("h2");
		max-width: toRem(845);
		text-align: center;
		font-weight: 700;
		line-height: 1.27;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 80, 20);
		}
	}
	// .elevate__items
	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		@include adaptiveValue("gap", 77, 20);
		@media (width <= toEm(768)) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (width <= toEm(560)) {
			grid-template-columns: 1fr;
		}
	}
	// .elevate__item
	&__item {
		&:nth-child(1) {
		}
		&:nth-child(2) {
			margin-top: toRem(75);
			@media (width <= toEm(926)) {
				margin-top: toRem(0);
			}
		}
		&:nth-child(3) {
			margin-top: toRem(150);
			@media (width <= toEm(926)) {
				margin-top: toRem(0);
			}
			@media (width <= toEm(768)) {
				grid-column: span 2;
			}
			@media (width <= toEm(560)) {
				grid-column: auto;
			}
		}
	}
}
.item-elevate {
	// .item-elevate__inner
	&__inner {
		position: relative;
	}
	// .item-elevate__image
	&__image {
		overflow: hidden;
		border-radius: toRem(20);
		box-shadow: toRem(0) toRem(18) toRem(52.85) rgba(215, 228, 249, 0.5);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 20);
		}
	}
	// .item-elevate__picture
	&__picture {
	}
	// .item-elevate__img
	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: transform 0.4s ease;
		aspect-ratio: 442 / 287;
		display: block;

		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				transform: scale(1.02);
				cursor: pointer;
			}
		}
	}
	// .item-elevate__icon-img
	&__icon-img {
		border-radius: toRem(10);
		filter: drop-shadow(toRem(0) toRem(18) toRem(52.85) rgba(215, 228, 249, 0.5));
		// .item-elevate__icon-img--01
		&--01 {
			position: absolute;
			left: toRem(49);
			aspect-ratio: 108 / 69;
			@include adaptiveValue("top", -42, -10);
			@include adaptiveValue("width", 108, 40);
		}
		// .item-elevate__icon-img--02
		&--02 {
			position: absolute;
			top: toRem(20);
			right: toRem(37);
			aspect-ratio: 108 / 69;
			@include adaptiveValue("width", 108, 40);
		}
		// .item-elevate__icon-img--03
		&--03 {
			position: absolute;
			aspect-ratio: 108 / 69;
			@include adaptiveValue("top", 112, 90);
			@include adaptiveValue("left", 49, 20);
			@include adaptiveValue("width", 108, 40);
			@media (width <= toEm(992)) {
				@include adaptiveValue("left", 30, 20);
			}
		}
		// .item-elevate__icon-img--04
		&--04 {
			position: absolute;
			aspect-ratio: 108 / 69;
			@include adaptiveValue("top", 134, 90);
			@include adaptiveValue("right", 98, 20);
			@include adaptiveValue("width", 108, 40);
			@media (width <= toEm(1150)) {
				@include adaptiveValue("top", 100, 75);
			}
			@media (width <= toEm(925)) {
				@include adaptiveValue("top", 100, 50);
			}
			@media (width <= toEm(768)) {
				@include adaptiveValue("top", 180, 50);
			}
			@media (width <= toEm(560)) {
				@include adaptiveValue("top", 180, 100);
			}
		}
		// .item-elevate__icon-img--05
		&--05 {
			position: absolute;
			aspect-ratio: 108 / 69;
			@include adaptiveValue("bottom", -24, -10);
			@include adaptiveValue("left", 157, 60);
			@include adaptiveValue("width", 108, 40);
		}
	}
	// .item-elevate__figure
	&__figure {
		border-radius: toRem(10);
		overflow: hidden;
		// .item-elevate__figure--01
		&--01 {
			position: absolute;
			top: toRem(-47);
			left: toRem(32);

			@include adaptiveValue("width", 144, 80);
			aspect-ratio: 144 / 95;
			@media (width <= toEm(926)) {
				display: none;
			}
		}
		// .item-elevate__figure--02
		&--02 {
			position: absolute;
			top: toRem(-130);
			right: toRem(50);

			width: toRem(112);
			aspect-ratio: 112 / 77;
			@media (width <= toEm(1650)) {
				display: none;
			}
		}
		// .item-elevate__figure--03
		&--03 {
			position: absolute;
			bottom: toRem(60);
			right: toRem(-70);

			width: toRem(175);
			aspect-ratio: 175 / 116;
			@media (width <= toEm(1650)) {
				display: none;
			}
		}
	}
	// .item-elevate__small-picture
	&__small-picture {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	// .item-elevate__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 38, 20);
		}
	}
	// .item-elevate__link-title
	&__link-title {
		@include typography("h3");
		font-weight: 700;
		line-height: 1;
		text-decoration-line: underline;
		text-decoration-color: transparent;
		text-decoration-thickness: toRem(2);
		text-underline-offset: toRem(3);
		transition: text-decoration-color 0.3s ease;
		outline: none;
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				text-decoration-color: var(--accent-color);
			}
		}
		&:focus-visible {
			color: var(--orange-color);
		}
	}
	// .item-elevate__text
	&__text {
		line-height: 1.6667;
		> p {
			&:not(:last-child) {
				margin-bottom: toRem(10);
			}
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 25, 20);
		}
	}
	// .item-elevate__anchor
	&__anchor {
		font-weight: 700;
		text-transform: capitalize;
		color: var(--link-color);
		line-height: 1.38;
		outline: none;
		&:focus-visible {
			color: var(--orange-color);
		}
	}
}
// =======================================================================================================================
// Industry section
.page {
	// .page__industry
	&__industry {
		overflow: hidden;
		background-color: var(--section-bg);

		position: relative;
		&:before {
			content: "";
			position: absolute;
			top: toRem(-1);
			left: -5%;
			width: 110%;
			height: 5.5%;
			background-color: #fff;
			border-radius: 0 0 50% 50% / 0 0 100% 100%;
			@media (width <= toEm(620)) {
				height: 1%;
			}
		}
	}
}
.industry {
	@include adaptiveValue("padding-top", 140, 50);
	// .industry__container
	&__container {
	}
	// .industry__rows
	&__rows {
		display: flex;
		flex-direction: column;
		@include adaptiveValue("row-gap", 55, 25);
	}
	// .industry__row
	&__row {
		// .industry__row--top
		&--top {
			position: relative;
			&::before {
				content: "";
				position: absolute;
				width: toRem(213);
				left: toRem(18);
				background: url("../img/industry/decor-01.svg") 0 0 / 100% no-repeat;
				@include adaptiveValue("top", 285, 0);
				@include adaptiveValue("height", 472, 370);
				@media (width <= toEm(1400)) {
					top: toRem(70);
				}
				@media (width <= toEm(970)) {
					display: none;
				}
			}
		}
		// .industry__row--bottom
		&--bottom {
		}
	}
}
.row-industry {
	// .row-industry__items
	&__items {
		display: flex;
		row-gap: toRem(30);
		@include adaptiveValue("column-gap", 70, 20);
		@media (width <= toEm(620)) {
			flex-wrap: wrap;
		}
		// .row-industry__items--top
		&--top {
		}
		// .row-industry__items--right-bottom
		&--right-bottom {
			justify-content: flex-end;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				bottom: toRem(150);
				right: toRem(0);
				background: url("../img/industry/decor-02.svg") 0 0 / 100% no-repeat;
				width: toRem(472);
				height: toRem(213);
				@media (width <= toEm(970)) {
					display: none;
				}
			}
		}
	}
	// .row-industry__item
	&__item {
		&--left-top {
			flex: 0 1 toRem(550);
			justify-content: end;
			@media (width <= toEm(620)) {
				order: 2;
				flex: 1 1 100%;
			}
		}
		// .row-industry__item--right-top
		&--right-top {
			flex: 0 1 toRem(600);
			@media (width <= toEm(620)) {
				order: 1;
				flex: 1 1 100%;
			}
		}
		// .row-industry__item--right-bottom-left
		&--right-bottom-left {
			flex: 0 1 toRem(506);
			@media (width <= toEm(620)) {
				flex: 1 1 100%;
			}
		}
		// .row-industry__item--right-bottom-right
		&--right-bottom-right {
			flex: 0 1 toRem(550);
			@media (width <= toEm(620)) {
				flex: 1 1 100%;
			}
		}
	}
	// .row-industry__body
	&__body {
		display: flex;
		// .row-industry__body--top
		&--top {
			justify-content: flex-end;
		}
		// .row-industry__body--bottom
		&--bottom {
		}
	}
	// .row-industry__circles
	&__circles {
		position: relative;
	}
	// .row-industry__small-circle
	&__small-circle {
		// .row-industry__small-circle--top
		&--top {
			position: absolute;
			top: toRem(40);
			@include adaptiveValue("right", 55, -100);
			width: toRem(65);
			height: toRem(65);
			@media (width <= toEm(1120)) {
				display: none;
			}
		}
		// .row-industry__small-circle--bottom
		&--bottom {
			position: absolute;
			z-index: 3;
			@include adaptiveValue("top", -45, -5);
			left: toRem(90);
			width: toRem(65);
			height: toRem(65);
		}
	}
	// .row-industry__big-circle
	&__big-circle {
		position: absolute;
		top: toRem(85);
		@include adaptiveValue("left", -120, 140);
		width: toRem(400);
		aspect-ratio: 1;
	}
	// .row-industry__figure
	&__figure {
		flex: 0 1 toRem(430);
		aspect-ratio: 430 / 548;
		position: relative;
		border-radius: toRem(20);
		box-shadow: toRem(-25) toRem(20) toRem(44) toRem(0) rgba(84, 48, 209, 0.4);
		@media (width <= toEm(620)) {
			flex: 1 1 100%;
		}
		// .row-industry__figure--top
		&--top {
			@include adaptiveValue("margin-top", -130, -50);
			@media (width <= toEm(620)) {
				margin-top: toRem(0);
			}
		}
		// .row-industry__figure--bottom
		&--bottom {
			position: relative;
			z-index: 2;
		}
	}
	// .row-industry__picture
	&__picture {
	}
	// .row-industry__img
	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: toRem(20);
	}
	// .row-industry__block
	&__block {
	}
	// .row-industry__medium-circle
	&__medium-circle {
		position: absolute;
		top: toRem(-25);
		@include adaptiveValue("left", 285, 80);
		width: toRem(262);
		aspect-ratio: 1;
	}
}
.block-industry {
	// .block-industry--top
	&--top {
		padding: toRem(2);
	}
	// .block-industry--bottom
	&--bottom {
		@include adaptiveValue("padding-top", 30, 5);
		@include adaptiveValue("padding-bottom", 80, 35);
		@include adaptiveValue("padding-left", 20, 0);
		@include adaptiveValue("padding-right", 2, 0);
		@media (width <= toEm(620)) {
			@include adaptiveValue("padding-bottom", 38, 0);
		}
	}
	// .block-industry__title
	&__title {
		// .block-industry__title--top
		&--top,
		&--bottom {
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 13, 10);
			}
		}
		// .block-industry__title--bottom
		&--bottom {
		}
	}
	// .block-industry__text
	&__text {
		max-width: toRem(480);
		@media (width <= toEm(620)) {
			max-width: 100%;
		}
		> p {
			&:not(:last-child) {
				margin-bottom: toRem(10);
			}
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 20);
		}
	}
	// .block-industry__button
	&__button {
		position: relative;
		z-index: 3;
		@include adaptiveValue("padding-block", 22, 14);
		@include adaptiveValue("padding-inline", 26, 13);
		box-shadow: toRem(0) toRem(9) toRem(20) toRem(-3) rgba(139, 111, 242, 0.976);
		border-radius: toRem(60);
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
		&:focus-visible {
			outline: toRem(2) solid var(--orange-color);
			outline-offset: toRem(2);
		}
		@media (width <= toEm(400)) {
			display: flex;
			justify-content: center;
		}
	}
}
// =======================================================================================================================
// Section advantages
.page {
	// .page__advantages
	&__advantages {
		background-color: var(--advantages-bg);
		@include adaptiveValue("padding-top", 100, 30);
		@include adaptiveValue("padding-bottom", 100, 10);
		position: relative;
		&:before {
			content: "";
			position: absolute;
			@include adaptiveValue("top", -30, -40);
			left: -5%;
			width: 110%;
			// height: 5.7%;
			height: toRem(40);
			background-color: var(--advantages-bg);
			border-radius: 50% 50% 0 0 / 100% 100% 0 0;
		}
	}
}
.advantages {
	// .advantages__container
	&__container {
	}
	// .advantages__label
	&__label {
		text-transform: capitalize;
		color: var(--label-color);
		font-weight: 700;
		font-size: toRem(14);
		line-height: 1.71;
		letter-spacing: toEm(0.2, 14);
		margin-bottom: toRem(10);
	}
	// .advantages__block-header
	&__block-header {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 70, 20);
		}
	}
	// .advantages__cards
	&__cards {
	}
}
.block-header {
	&--center {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	// .block-header__title
	&__title {
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
		&--margin {
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 30, 20);
			}
		}
	}
	// .block-header__text
	&__text {
		font-size: toRem(14);
		line-height: 1.42;
		letter-spacing: toEm(0.2, 14);
		max-width: toRem(765);
		> p {
			&:not(:last-child) {
				margin-bottom: toRem(10);
			}
		}
		&--width {
			max-width: toRem(890);
			@include adaptiveValue("font-size", 18, 16);
		}
	}
}
.cards-advantages {
	// .cards-advantages__items
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(toRem(200), 1fr));
		@include adaptiveValue("grid-gap", 43, 15);
	}
	// .cards-advantages__item
	&__item {
		&:nth-child(even) {
			@include adaptiveValue("padding-top", 48, 0);
			@media (width < toEm(447)) {
				padding-top: toRem(0);
			}
		}
		&._anim-items {
			opacity: 0;
			transform: translateY(toRem(30));
			transition:
				opacity 0.6s ease,
				transform 0.6s ease,
				background-color 0.2s ease;
		}
		&._active {
			opacity: 1;
			transform: translateY(0);

			&:nth-child(1) {
				transition-delay: 0s;
			}
			&:nth-child(2) {
				transition-delay: 0.15s;
			}
			&:nth-child(3) {
				transition-delay: 0.3s;
			}
			&:nth-child(4) {
				transition-delay: 0.45s;
			}
		}
	}
	// .cards-advantages__body
	&__body {
		@include adaptiveValue("padding-block", 35, 15);
		@include adaptiveValue("padding-right", 50, 10);
		@include adaptiveValue("padding-left", 40, 10);
		background-color: var(--advantages-card-bg);
		transition:
			background-color 0.3s ease,
			transform 0.3s ease;
		display: flex;
		flex-direction: column;

		will-change: transform; // Попереджає браузер про майбутню анімацію
		backface-visibility: hidden; // Запускає апаратне прискорення відеокарти (GPU)

		& > *:not(:last-child) {
			@include adaptiveValue("margin-bottom", 20, 10);
		}

		@mixin card-active-state {
			background-color: var(--advantages-card-hover);

			.cards-advantages__title {
				color: var(--white-color);
			}
			.cards-advantages__text {
				color: rgba(255, 255, 255, 0.8);
			}
			.cards-advantages__title::after {
				background-color: var(--white-color);
			}
			.cards-advantages__image img {
				filter: brightness(0) invert(1);
			}
		}
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				@include card-active-state;
			}
			&:hover:not(.cards-advantages__body--hover) {
				transform: translateY(toRem(-5));
				cursor: pointer;
			}
		}

		&--hover {
			@include card-active-state;
		}
	}
	// .cards-advantages__image
	&__image {
		width: toRem(72);
		aspect-ratio: 1;
		img {
			transition: filter 0.3s ease;
		}
	}
	// .cards-advantages__title
	&__title {
		font-weight: 700;
		line-height: 1.5;
		font-size: toRem(16);
		transition: color 0.3s ease;

		&::after {
			content: "";
			display: block;
			width: toRem(50);
			height: toRem(2);
			background-color: var(--line-color);
			@include adaptiveValue("margin-top", 20, 10);
			transition: background-color 0.3s ease;
		}
	}
	// .cards-advantages__text
	&__text {
		color: var(--second-text-color);
		font-size: toRem(14);
		letter-spacing: toEm(0.2, 14);
		line-height: 1.42;
		transition: color 0.3s ease;
		> p {
			&:not(:last-child) {
				margin-bottom: toRem(10);
			}
		}
	}
}
// =======================================================================================================================
// Section trusted
.page {
	// .page__trusted
	&__trusted {
		@include adaptiveValue("padding-top", 125, 30);
		// margin-bottom: 268px;
		background: linear-gradient(
			180deg,
			rgba(236, 240, 253, 0) 0%,
			rgba(236, 240, 253, 0.53) 14.32%,
			#ecf0fd 45.83%,
			rgba(236, 240, 253, 0.43) 84.33%,
			rgba(236, 240, 253, 0) 100%
		);
	}
}
.trusted {
	// .trusted__container
	&__container {
	}
	// .trusted__slider
	&__slider {
		@include adaptiveValue("padding-bottom", 260, 50);
		@media (width <= toEm(1200)) {
			margin-inline: toRem(-15);
			padding-inline: toRem(15);
		}
	}
	// .trusted__wrapper
	&__wrapper {
	}
	// .trusted__slide
	&__slide {
	}
	// .trusted__body-slide
	&__body-slide {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			z-index: -2;
			@include adaptiveValue("left", 255, -30);
			@include adaptiveValue("bottom", -45, 0);
			background: url("../img/trusted/decor/decor-01.svg") 0 0 / 100% no-repeat;
			width: toRem(472);
			height: toRem(208);

			@media (max-width: toEm($tablet)) {
				display: none;
			}
		}
		&::after {
			content: "";
			position: absolute;
			z-index: -2;
			@include adaptiveValue("right", 250, 0);
			top: toRem(270);
			background: url("../img/trusted/decor/decor-02.svg") 0 0 / 100% no-repeat;
			width: toRem(472);
			height: toRem(208);
			@media (width < toEm(1125)) {
				display: none;
			}
		}
	}
	// .trusted__title
	&__title {
		@include typography("h2");
		font-weight: 700;
		max-width: toRem(720);
		text-align: center;
		line-height: 1.27;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 42, 20);
		}
	}
	&__box {
		@include adaptiveValue("padding-bottom", 56, 20);
		@include adaptiveValue("padding-inline", 82, 5);
		@include adaptiveValue("font-size", 27, 16);
		max-width: toRem(730);
		color: var(--text-color);
		background-color: #fff;
		text-align: center;
		line-height: 1.5;
		border-radius: toRem(20);
		position: relative;
		box-shadow: toRem(0) toRem(18) toRem(52.85) rgba(215, 228, 249, 0.5);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 80, 60);
		}
		&::before {
			content: "";
			position: absolute;
			z-index: -1;
			left: toRem(26);
			right: toRem(26);
			@include adaptiveValue("top", 25, 15);
			max-width: toRem(678);
			height: 100%;
			background: #fff;
			box-shadow: toRem(0) toRem(18) toRem(52.85) rgba(215, 228, 249, 0.5);
			border-radius: toRem(20);
		}
		&::after {
			content: "";
			position: absolute;
			z-index: -2;
			left: toRem(56);
			right: toRem(56);
			@include adaptiveValue("top", 45, 30);
			max-width: toRem(618);
			height: 100%;
			background: #fff;
			box-shadow: toRem(0) toRem(18) toRem(52.85) rgba(215, 228, 249, 0.5);
			border-radius: toRem(20);
		}
	}
	// .trusted__blockquote
	&__blockquote {
		display: flex;
		flex-direction: column;
		@include adaptiveValue("row-gap", 34, 20);
		background: url("../img/trusted/icons/quotes.png") 50% toRem(27) / toRem(234) toRem(163) no-repeat;
		@include adaptiveValue("padding-top", 97, 20);
		@media (width <= toEm(1182)) {
			background: url("../img/trusted/icons/quotes.png") 50% toRem(20) / toRem(184) toRem(120) no-repeat;
		}
		@media (width <= toEm(700)) {
			background: url("../img/trusted/icons/quotes.png") 50% toRem(15) / toRem(140) toRem(90) no-repeat;
		}
	}
	// .trusted__text-blockquote
	&__text-blockquote {
		> p {
			&:not(:last-child) {
				margin-bottom: toRem(10);
			}
		}
	}
	// .trusted__author
	&__author {
		color: var(--accent-color);
		font-style: normal;
		display: flex;
		flex-direction: column;
	}
	// .trusted__images
	&__images {
	}
	// .trusted__figure
	&__figure {
		// .trusted__figure--01
		&--01 {
			position: absolute;
			z-index: 5;
			top: toRem(90);
			@include adaptiveValue("left", 200, -50);
			@include adaptiveValue("width", 136, 48);
			@include adaptiveValue("height", 132, 48);
			&::before {
				content: "";
				position: absolute;
				z-index: -1;
				top: toRem(30);
				width: 100%;
				height: 100%;
				border-radius: 50%;
				background: url("../img/trusted/img-bg-01.webp") 0 0 / 100% no-repeat;
			}
		}
		// .trusted__figure--02
		&--02 {
			position: absolute;
			z-index: 5;
			top: toRem(80);
			@include adaptiveValue("right", 230, -80);
			@include adaptiveValue("width", 94, 48);
			@include adaptiveValue("height", 92, 48);
			&::before {
				content: "";
				position: absolute;
				z-index: -1;
				top: toRem(30);
				width: 100%;
				height: 100%;
				border-radius: 50%;
				background: url("../img/trusted/img-bg-02.webp") 0 0 / 100% no-repeat;
			}
		}
		// .trusted__figure--03
		&--03 {
			position: absolute;
			z-index: 5;
			left: toRem(0);
			top: 43%;
			@include adaptiveValue("width", 93, 48);
			@include adaptiveValue("height", 90, 48);
			&::before {
				content: "";
				position: absolute;
				z-index: -1;
				top: toRem(25);
				width: 100%;
				height: 100%;
				border-radius: 50%;
				background: url("../img/trusted/img-bg-03.webp") 0 0 / 100% no-repeat;
			}
			@media (width <= toEm(825)) {
				top: 60%;
				&::before {
					top: toRem(15);
				}
			}
			@media (width <= toEm(400)) {
				display: none;
			}
		}
		// .trusted__figure--04
		&--04 {
			position: absolute;
			z-index: 5;
			right: toRem(0);
			top: 50%;
			@include adaptiveValue("width", 154, 48);
			@include adaptiveValue("height", 150, 48);
			&::before {
				content: "";
				position: absolute;
				z-index: -1;
				top: toRem(25);
				width: 100%;
				height: 100%;
				border-radius: 50%;
				background: url("../img/trusted/img-bg-04.webp") 0 0 / 100% no-repeat;
			}
			@media (width <= toEm(825)) {
				top: 60%;
				&::before {
					top: toRem(15);
				}
			}
			@media (width <= toEm(400)) {
				display: none;
			}
		}
		// .trusted__figure--05
		&--05 {
			position: absolute;
			z-index: 5;
			left: toRem(36);
			bottom: toRem(-25);
			@include adaptiveValue("width", 105, 48);
			@include adaptiveValue("height", 102, 48);
			&::before {
				content: "";
				position: absolute;
				z-index: -1;
				top: toRem(25);
				width: 100%;
				height: 100%;
				border-radius: 50%;
				background: url("../img/trusted/img-bg-05.webp") 0 0 / 100% no-repeat;
			}
		}
		// .trusted__figure--06
		&--06 {
			position: absolute;
			z-index: 5;
			@include adaptiveValue("right", 156, 0);
			bottom: toRem(-65);
			@include adaptiveValue("width", 89, 48);
			@include adaptiveValue("height", 86, 48);
			&::before {
				content: "";
				position: absolute;
				z-index: -1;
				top: toRem(25);
				background: url("../img/trusted/img-bg-06.webp") 0 0 / 100% no-repeat;
				width: 100%;
				height: 100%;
				border-radius: 50%;
			}
		}
		&--01,
		&--02,
		&--05,
		&--06 {
			@media (width <= toEm(825)) {
				display: none;
			}
		}
	}
	// .trusted__picture
	&__picture {
	}
	// .trusted__img
	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 50%;
	}
	// .trusted__controls
	&__controls {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: toRem(20);
		position: absolute;
		left: 50%;
		transform: translateX(toRem(164));
		z-index: 6;
		@media (max-width: toEm($tablet)) {
			left: toRem(0);
			position: relative;
			transform: translateX(0);
		}
	}
	// .trusted__arrow
	&__arrow {
		display: flex;
		@include adaptiveValue("width", 52, 32);
		@include adaptiveValue("height", 24, 15);
		&:focus-visible {
			outline-offset: toRem(2);
			outline: toRem(2) solid var(--accent-color);
		}
		transition:
			width 0.2s ease,
			height 0.2s ease;
		// .trusted__arrow--left
		&--left {
			transform: rotate(180deg);
		}
		// .trusted__arrow--right
		&--right {
		}
		&.swiper-button-disabled {
			width: toRem(32);
			height: toRem(15);
			opacity: 0.4;
			cursor: default;
			transition:
				width 0.2s ease,
				height 0.2s ease,
				opacity 0.2s ease;
		}
	}
}
//========================================================================================================================
// Section supported
.page {
	// .page__supported
	&__supported {
	}
}
.supported {
	// .supported__container
	&__container {
	}
	// .supported__inner
	&__inner {
		display: flex;
		flex-direction: column;
		gap: toRem(5);
		align-items: center;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			z-index: -1;
			@include adaptiveValue("bottom", -160, 0);
			left: -5%;
			width: 110%;
			height: 70%;
			background-color: #eeeeee;
			border-radius: 50% 50% 0 0 / 100% 100% 0 0;
			@media (width <= toEm(712)) {
				height: 45%;
			}
			@media (width <= toEm(440)) {
				height: 25%;
			}
			@media (width <= toEm(368)) {
				height: 12%;
			}
		}
	}
	// .supported__block-header
	&__block-header {
	}
	// .supported__figure
	&__figure {
		max-width: toRem(1311);
		width: 100%;
		aspect-ratio: 1311 / 293;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			z-index: -1;
			left: toRem(-240);
			bottom: toRem(-180);
			background: url("../img/supported/decor/decor-01.svg") 0 0 / 100% 100% no-repeat;
			width: toRem(300);
			height: toRem(265);
			@include adaptiveValue("left", -240, 0);
			@media (width <= toEm(1480)) {
				display: none;
			}
		}
		&::after {
			content: "";
			position: absolute;
			z-index: -1;
			right: toRem(-280);
			@include adaptiveValue("top", 260, 170);
			background: url("../img/supported/decor/decor-02.svg") 0 0 / 100% 100% no-repeat;
			width: toRem(460);
			height: toRem(230);
			rotate: 270deg;
			@media (width <= toEm(950)) {
				display: none;
			}
		}
	}
	// .supported__img
	&__img {
		width: 100%;
		height: 100%;
		aspect-ratio: 1311 / 293;
		object-fit: cover;
	}
	// .supported__cercles
	&__circles {
		position: absolute;
		left: toRem(0);
		bottom: toRem(0);
		width: 100%;
	}
	// .supported__cercle
	&__circle {
		position: absolute;
		aspect-ratio: 1;
		&--01 {
			width: toRem(61);
			@include adaptiveValue("left", -120, 0);
			@include adaptiveValue("bottom", 150, 120);
			@media (width <= toEm(1740)) {
				left: toRem(0);
			}
		}
		&--02 {
			width: toRem(43);
			@include adaptiveValue("right", 43, 0);
			@include adaptiveValue("bottom", 215, 60);
		}
		&--03 {
			@include adaptiveValue("left", -30, 0);
			bottom: toRem(60);
			width: toRem(34);
			@media (width <= toEm(1740)) {
				left: toRem(0);
			}
		}
		&--04 {
			@include adaptiveValue("right", -80, 0);
			@include adaptiveValue("bottom", -270, -130);
			@include adaptiveValue("width", 88, 44);
			@media (width <= toEm(1670)) {
				right: toRem(0);
			}
		}
	}
	// .supported__bottom
	&__bottom {
		background-color: var(--supported--bg);
		@include adaptiveValue("padding-block", 78, 20);
	}
	// .supported__body
	&__body {
		display: flex;
		align-items: center;
		row-gap: toRem(20);
		justify-content: space-around;
		@include adaptiveValue("column-gap", 67, 20);
		@media (width <= toEm(565)) {
			flex-wrap: wrap;
		}
	}
	// .supported__heading
	&__heading {
		display: flex;
		flex: 0 1 toRem(855);
		justify-content: flex-end;
	}
	// .supported__title
	&__title {
		max-width: toRem(700);
		strong {
			font-weight: 400;
		}
	}
	// .supported__button
	&__button {
	}
}
