@use "sass:math";
@use "_settings" as *;
//  =====================================================================
// Pages
.page {
	// .page__hero
	&__hero {
		@include adaptiveValue("margin-bottom", 90, 60);
	}
	// .page__introduction
	&__introduction {
		@include adaptiveValue("margin-bottom", 110, 60);
	}
	// .page__why
	&__why {
		@include adaptiveValue("margin-bottom", 114, 56);
	}
	// .page__partners
	&__partners {
		@include adaptiveValue("margin-bottom", 114, 40);
	}
	// .page__build
	&__build {
		@include adaptiveValue("margin-bottom", 114, 80);
		background: url("../img/build/bg-line.svg") center toRem(50) / 80% 100% no-repeat;
		@media (max-width: toEm(1210)) {
			background: none;
		}
	}
	// .page__experience
	&__experience {
		@include adaptiveValue("margin-bottom", 120, 80);
	}
}
// ======================================================================
// Hero Section
.hero {
	// .hero__container
	&__container {
	}
	// .hero__body
	&__body {
		display: flex;
		justify-content: space-between;
		column-gap: toRem(20);
		row-gap: toRem(30);
		@include adaptiveValue("margin-bottom", 88, 53);
		@include adaptiveValue("padding-top", 100, 20);
		@media (max-width: toEm(600)) {
			flex-direction: column;
			padding-top: toRem(20);
		}
	}
	// .hero__info
	&__info {
		max-width: toRem(510);
		flex-basis: 100%;
		position: relative;
		&::before {
			content: "";
			background: url("../img/hero/decor/line.svg") 0 0 / contain no-repeat;
			width: 100%;
			height: 120%;
			position: absolute;
			left: toRem(-80);
			top: 0;
			@media (max-width: toEm($tablet)) {
				display: none;
			}
		}
		@media (max-width: toEm(600)) {
			order: 2;
			max-width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	// .hero__title
	&__title {
		@include adaptiveValue("padding-top", 48, 5);
		@include adaptiveValue("font-size", 46, 24);
		font-weight: 700;
		line-height: 1.217;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 36, 20);
		}
		@media (max-width: toEm(430)) {
			text-align: center;
		}
	}
	// .hero__start
	&__start {
		background: linear-gradient(91.57deg, #c0b7e8 0%, #8176af);
	}
	// .hero__end
	&__end {
		background: linear-gradient(91.57deg, #8176af 0%, #c0b7e8 120%);
	}
	&__start,
	&__end {
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		color: transparent;
		@include adaptiveValue("font-size", 46, 34);
	}
	// .hero__text
	&__text {
		line-height: 1.5;
		max-width: toRem(450);
		> p:not(:last-child) {
			margin-bottom: toRem(10);
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 65, 20);
		}
		@media (max-width: toEm(600)) {
			max-width: 100%;
		}
		@media (max-width: toEm(430)) {
			display: none;
		}
	}
	// .hero__link
	&__link {
		padding: toRem(17) toRem(43) toRem(16) toRem(38);
		background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
		border-radius: toRem(40);
		color: $linkColor;
		font-size: toRem(12);
		line-height: 1.25;
		position: relative;
		transition: all 0.5s ease;
		font-weight: 700;
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				color: $mainColor;
			}
		}
	}
	// .hero__image
	&__image {
		position: relative;
		max-width: toRem(490);
		aspect-ratio: 490 / 426;
		background: rgba(0, 0, 0, 0.13);
		border-radius: toRem(100) toRem(100) toRem(100) toRem(240);
		border: toRem(1) solid black;
		@include adaptiveValue("padding", 16, 10);
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: toRem(100) toRem(100) toRem(100) toRem(240);
		}
		@media (max-width: toEm(600)) {
			order: 1;
			max-width: 100%;
			aspect-ratio: auto;
		}
		&::after {
			content: "";
			background: url("../img/hero/decor/lines.svg");
			background-repeat: no-repeat;
			background-position: right 0;
			background-size: contain;
			width: 200%;
			height: 200%;
			position: absolute;
			@include adaptiveValue("top", -250, -130);
			@include adaptiveValue("right", -90, -30);
			z-index: -1;
		}
	}
	// .hero__picture
	&__picture {
	}
	// .hero__contacts
	&__contacts {
	}
}
.contacts {
	background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211e2e 100%);
	box-shadow: toRem(0) toRem(4) toRem(4) rgba(192, 183, 232, 0.01);
	border-radius: toRem(90);
	@include adaptiveValue("padding-top", 28, 15);
	@include adaptiveValue("padding-bottom", 28, 15);
	padding-right: toRem(30);
	@include adaptiveValue("padding-left", 45, 30);

	display: block;
	position: relative;
	overflow: hidden;
	// .contacts__controls
	&__controls {
	}
	// .contacts__slider
	&__slider {
	}
	// .contacts__wrapper
	&__wrapper {
	}
	// .contacts__slide
	&__slide {
		&:not(:last-child) {
			border-right: toRem(1) solid rgba(192, 183, 232, 0.33);
			@media (max-width: toEm(1050)) {
				border-right: none;
			}
		}
	}
	// .contacts__body
	&__body {
		display: flex;
		align-items: center;
		@include adaptiveValue("column-gap", 15, 5);
		@include adaptiveValue("min-height", 110, 60);
		address {
			font-style: normal;
		}
		@media (max-width: toEm(960)) {
			justify-content: center;
		}
		&--visit {
			@media (max-width: toEm(960)) {
				padding-left: toRem(10);
			}
			img {
				@include adaptiveValue("height", 61, 40);
				width: auto;
			}
		}
		&--phone {
			@include adaptiveValue("padding-left", 47, 10);
			img {
				@include adaptiveValue("width", 59, 40);
				aspect-ratio: 1;
			}
		}
		&--email {
			@include adaptiveValue("padding-left", 50, 10);
			img {
				@include adaptiveValue("width", 65, 40);
				aspect-ratio: 1;
			}
		}
	}
	&__content-body {
		padding-right: toRem(5);
	}
	// .contacts__title
	&__title {
		@include adaptiveValue("font-size", 24, 12);
		font-weight: 700;
		line-height: 1.2;
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
		@media (max-width: toEm(1050)) {
			display: none;
		}
	}
	// .contacts__link
	&__link {
		@include adaptiveValue("font-size", 14, 12);
		line-height: 1.2;
		opacity: 0.7;
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.controls-contacts {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	pointer-events: none;
	// .controls-contacts__arrow
	&__arrow {
		position: absolute;
		top: 50%;
		translate: 0 -50%;
		border-radius: 50%;
		@include adaptiveValue("width", 24, 20);
		aspect-ratio: 1;
		pointer-events: auto;
		// .controls-contacts__arrow--prev
		&--prev {
			left: toRem(7);
		}
		// .controls-contacts__arrow--next
		&--next {
			right: toRem(7);
			rotate: -180deg;
		}
		&--prev,
		&--next {
			display: none;
			@media (max-width: toEm(960)) {
				display: block;
			}
		}
		&.swiper-button-disabled {
			opacity: 0.5;
			pointer-events: none;
		}
	}
}
// ======================================================================
// Section Introduction
.introduction {
	// .introduction__container
	&__container {
		background: url("../img/about/lines.svg") center toRem(240) / contain no-repeat;
		@media (max-width: toEm(1160)) {
			background: url("../img/about/lines.svg") center toRem(320) / contain no-repeat;
		}
		@media (max-width: toEm(430)) {
			background: none;
		}
	}
	// .introduction__top-content
	&__top-content {
		display: flex;
		justify-content: space-between;
		gap: toRem(20);
		@include adaptiveValue("margin-bottom", 100, 36);
		@media (max-width: toEm(1160)) {
			flex-direction: column;
		}
	}
	// .introduction__title
	&__title {
	}
	// .introduction__text
	&__text {
		@include adaptiveValue("font-size", 16, 13);
		line-height: 1.62;
		> p {
			&:not(:last-child) {
				margin-bottom: toRem(10);
			}
		}
		&--top {
			max-width: toRem(652);
			@media (max-width: toEm(1160)) {
				max-width: 100%;
			}
			@media (max-width: toEm(430)) {
				display: none;
			}
		}
		&--bottom {
			max-width: toRem(630);
			&:not(:last-child) {
				margin-bottom: toRem(28);
			}
			@media (max-width: toEm($tablet)) {
				max-width: 100%;
			}
		}
	}
	// .introduction__bottom-content
	&__bottom-content {
	}
	// .introduction__items
	&__items {
		display: flex;
		justify-content: space-between;
		gap: toRem(30);
		@media (max-width: toEm(880)) {
			flex-direction: column;
			align-items: center;
		}
	}
	// .introduction__item
	&__item {
	}
	// .introduction__image
	&__image {
		max-width: toRem(524);
		aspect-ratio: 524 / 557;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 45.8% 19% 45.8% 20% / 45.8% 19% 45.8% 20%;
			box-shadow: toRem(0) toRem(4) toRem(4) rgba(0, 0, 0, 0.25);
		}
		@media (max-width: toEm(880)) {
			max-width: 100%;
			aspect-ratio: auto;
		}
	}
	// .introduction__content
	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		max-width: toRem(630);
		@include adaptiveValue("padding-top", 50, 10);
		@media (max-width: toEm(880)) {
			max-width: 100%;
		}
		@media (max-width: toEm(600)) {
			align-items: center;
		}
	}
	// .introduction__label
	&__label {
		width: 100%;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 42, 30);
		}
		&--about {
			@media (max-width: toEm(430)) {
				display: none;
			}
		}
	}
	// .introduction__link
	&__link {
	}
}
// ======================================================================
// Section Why
.why {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		z-index: -1;
		top: toRem(218);
		left: toRem(200);
		background-image: url("../img/why/line-bg.svg");
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: cover;
		width: 80%;
		height: 85%;
		@media (max-width: toEm(1422)) {
			background-image: none;
		}
	}
	// .why__container
	&__container {
	}
	// .why__top
	&__top {
		display: flex;
		justify-content: space-between;
		gap: toRem(20);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 107, 26);
		}
		@media (max-width: toEm(1160)) {
			flex-direction: column;
		}
	}
	// .why__title
	&__title {
	}
	// .why__text
	&__text {
		line-height: 1.62;
		max-width: toRem(652);
		> p:not(:last-child) {
			margin-bottom: toRem(10);
		}
		@media (max-width: toEm(1160)) {
			max-width: 100%;
		}
		@media (max-width: toEm(430)) {
			display: none;
		}
	}
	// .why__cards
	&__cards {
		position: relative;
	}
}
.cards {
	// .cards__slider
	&__slider {
		@media (width <= toEm(1300)) {
			margin-inline: toRem(-15);
			padding-inline: toRem(15);
		}
	}
	// .cards__wrapper
	&__wrapper {
		display: flex;
	}
	// .cards__item
	&__item {
		display: flex;
		flex-direction: column;
		padding: toRem(23) toRem(25) toRem(40) toRem(25);
		background: radial-gradient(50% 50% at 50% 50%, #433d60 0%, #211e2e 100%);
		border-radius: toRem(40);
		align-items: center;
		gap: toRem(5);
		&.swiper-slide {
			// Фікс для Chromium-браузерів (Edge, Chrome, Opera)
			height: auto;
		}
	}
	// .cards__image
	&__image {
		max-width: toRem(190);
		aspect-ratio: 1;
		margin-bottom: toRem(16);
		padding: toRem(14);
		background: rgba(14, 14, 14, 0.32);
		border-radius: 50%;
		img {
			border-radius: 50%;
			width: 100%;
			height: 100%;
			object-fit: cover;
			background: rgba(14, 14, 14, 0.32);
		}
	}
	// .cards__heading
	&__heading {
		margin-bottom: toRem(17.5);
		padding-bottom: toRem(17.5);
		font-size: toRem(24);
		font-weight: 700;
		position: relative;
		border-bottom: toRem(1) solid rgba(192, 183, 232, 0.33);
	}
	// .cards__text
	&__text {
		margin-bottom: toRem(30);
		font-size: toRem(12);
		line-height: 1.5;
		flex-grow: 1;
		> p:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
	// .cards__link
	&__link {
	}
	// .cards__controls
	&__controls {
	}
}
.controls {
	position: absolute;
	top: 50%;
	translate: 0 -50%;
	width: 100%;
	z-index: 1;
	pointer-events: none;
	// .controls__arrow
	&__arrow {
		position: absolute;
		top: 50%;
		translate: 0 -50%;
		border-radius: 50%;
		border: toRem(11) solid rgba(14, 14, 14, 0.32);
		// @include adaptiveValue("border-width", 11, 5);
		pointer-events: auto;
		img {
			padding: toRem(10) toRem(14) toRem(10) toRem(14);
			background: linear-gradient(267.61deg, #c0b7e8 -0.6%, #8176af 98.31%);
			border-radius: 50%;
		}
		// .controls__arrow--prev
		&--prev {
			left: toRem(-10);
		}
		// .controls__arrow--next
		&--next {
			right: toRem(-10);
			rotate: -180deg;
		}
		&--prev,
		&--next {
			display: none;
			@media (width < toEm(1300)) {
				display: block;
			}
		}
		&.swiper-button-disabled {
			opacity: 0.5;
			pointer-events: none;
		}
	}
}
// ======================================================================
// Section Partners
.partners {
	// .partners__container
	&__container {
	}
	// .partners__top
	&__top {
		@include adaptiveValue("margin-bottom", 90, 40);
		@include adaptiveValue("padding-top", 108, 15);
		@include adaptiveValue("padding-bottom", 96, 5);
		position: relative;
	}
	// .partners__title
	&__title {
		position: relative;
		z-index: 2;
		text-align: center;
		display: flex;
		flex-direction: column;
		gap: toRem(15);
		@include adaptiveValue("font-size", 36, 14);
	}
	// .partners__image
	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	// .partners__picture
	&__picture {
		display: block;
		width: 100%;
		height: 100%;
	}
	// .partners__img
	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: toRem(160);
		box-shadow: toRem(0) toRem(4) toRem(4) rgba(192, 183, 232, 0.01);
		opacity: 0.2;
		@media (max-width: toEm(320)) {
			border-radius: toRem(40);
		}
	}
	// .partners__link
	&__link {
	}
	// .partners__bottom
	&__bottom {
	}
	// .partners__slider
	&__slider {
		position: relative;
		overflow: visible;
	}
	// .partners__wrapper
	&__wrapper {
	}
	// .partners__slide
	&__slide {
		display: flex;
		justify-content: center;
		align-items: center;
		@include adaptiveValue("height", 174, 115);
		img {
			width: auto;
			max-width: 100%;
			max-height: 100%;
			object-fit: contain;
		}
	}
	// .partners__controls
	&__controls {
	}
}
.link-partner {
	position: absolute;
	z-index: 5;
	@include adaptiveValue("bottom", -50, -40);
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50%;
	@include adaptiveValue("border-width", 15, 8);
	border-color: rgba(14, 14, 14, 0.32);
	border-style: solid;
	transition: border-color 0.3s ease;
	&:hover {
		border-color: $bgColor;
		img {
			opacity: 0.8;
			transform: scale(0.9);
		}
	}
	@media (max-width: toEm(560)) {
		display: none;
	}
	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 50%;
		@include adaptiveValue("padding-top", 30, 15);
		@include adaptiveValue("padding-inline", 21, 10);
		@include adaptiveValue("padding-bottom", 24, 12);
		background: linear-gradient(267.61deg, #c0b7e8 -0.6%, #8176af 98.31%);
		will-change: transform;
		backface-visibility: hidden;
		transition:
			opacity 0.3s ease,
			transform 0.3s ease;
	}
}
.controls-partners {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(0, -50%);
	width: 100%;
	z-index: 10;
	pointer-events: none;
	// .controls-partners__arrow
	&__arrow {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		border-radius: 50%;
		border: toRem(11) solid rgba(14, 14, 14, 0.32);
		// @include adaptiveValue("border-width", 11, 5);
		pointer-events: auto;
		// .controls-partners__arrow--prev
		&--prev {
			left: toRem(-10);
		}
		// .controls-partners__arrow--next
		&--next {
			right: toRem(-10);
			transform: translate(0, -50%) rotate(-180deg);
		}
		&--next,
		&--prev {
			display: none;
			@media (max-width: toEm(1200)) {
				display: block;
			}
		}
		&.swiper-button-disabled {
			opacity: 0.5;
			pointer-events: none;
		}
	}
	// .controls-partners__img
	&__img {
		padding: toRem(10) toRem(14) toRem(10) toRem(14);
		background: linear-gradient(267.61deg, #c0b7e8 -0.6%, #8176af 98.31%);
		border-radius: 50%;
	}
}
// ======================================================================
// Section Build
.build {
	// .build__container
	&__container {
	}
	// .build__top
	&__top {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: toRem(20);
		@media (max-width: toEm(1210)) {
			flex-direction: column;
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 124, 37);
		}
	}
	// .build__title
	&__title {
	}
	// .build__text
	&__text {
		line-height: 1.62;
		max-width: toRem(652);
		> p {
			&:not(:last-child) {
				margin-bottom: toRem(10);
			}
		}
		@media (max-width: toEm(1210)) {
			max-width: 100%;
		}
		@media (max-width: toEm(430)) {
			display: none;
		}
	}
	// .build__bottom
	&__bottom {
	}
	// .build__slider
	&__slider {
		position: relative;
		@media (max-width: toEm(1200)) {
			overflow: visible;
		}
	}
	// .build__items
	&__items {
		display: flex;
		align-items: center;
		counter-reset: item;
	}
	// .build__item
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: toRem(25);
	}
	// .build__step
	&__step {
		border: toRem(20) solid rgba(13, 13, 13, 0.32);
		border-radius: 50%;
		&::before {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: toRem(64);
			font-weight: 700;
			color: $linkColor;
			width: toRem(158);
			aspect-ratio: 1;
			border-radius: 50%;
			background: linear-gradient(251.27deg, #c0b7e8 12.87%, #8176af 89.33%);
			content: counter(item, decimal-leading-zero);
			counter-increment: item;
		}
	}
	// .build__heading
	&__heading {
		@include adaptiveValue("font-size", 24, 20);
		padding-left: toRem(35);
		line-height: 1.2;
		font-weight: 700;
		max-width: toRem(200);
		background: url("../img/build/arrow.svg") toRem(0) toRem(4) / toRem(27) toRem(22) no-repeat;
		@media (max-width: toEm(390)) {
			background: none;
			padding-left: 0;
			text-align: center;
		}
	}
	// .build__controls
	&__controls {
	}
}
.controls-build {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	@include adaptiveValue("margin-top", 262, 250);
	z-index: 5;
	pointer-events: none;
	// .controls-build__arrow
	&__arrow {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		border-radius: 50%;
		border: toRem(11) solid rgba(14, 14, 14, 0.32);
		// @include adaptiveValue("border-width", 11, 5);
		pointer-events: auto;
		// .controls-build__arrow--prev
		&--prev {
			left: toRem(-10);
		}
		// .controls-build__arrow--next
		&--next {
			right: toRem(-10);
			transform: translate(0, -50%) rotate(-180deg);
		}
		&--next,
		&--prev {
			display: none;
			@media (max-width: toEm(1200)) {
				display: block;
			}
		}
		&.swiper-button-disabled {
			opacity: 0.5;
			pointer-events: none;
		}
	}
	// .controls-build__img
	&__img {
		padding: toRem(10) toRem(14) toRem(10) toRem(14);
		background: linear-gradient(267.61deg, #c0b7e8 -0.6%, #8176af 98.31%);
		border-radius: 50%;
	}
}
// ======================================================================
// Section Experience
.experience {
	// .experience__container
	&__container {
	}
	// .experience__body
	&__body {
		@include adaptiveValue("padding-top", 90, 45);
		@include adaptiveValue("padding-bottom", 84, 65);
		@include adaptiveValue("padding-inline", 106, 25);
		background: radial-gradient(50% 50% at 50% 50%, #403a5f 0%, #211e2e 100%);
		box-shadow: toRem(0) toRem(4) toRem(4) rgba(0, 0, 0, 0.25);
		border-radius: toRem(100);
		@media (max-width: toEm($mobile)) {
			border-radius: toRem(40);
		}
	}
	// .experience__header
	&__header {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		@include adaptiveValue("gap", 50, 40);
		@include adaptiveValue("margin-bottom", 65, 36);
	}
	// .experience__title
	&__title {
		position: relative;
		&::after {
			content: "";
			position: absolute;
			left: 50%;
			transform: translate(-50%, 0);
			@include adaptiveValue("width", 414, 116);
			height: toRem(1);
			background: linear-gradient(90deg, #343045 0%, #c0b7e8 35%, #8176af 69%, #343045 99%);
			@include adaptiveValue("bottom", -25, -20);
		}
	}
	// .experience__subtitle
	&__subtitle {
		@include adaptiveValue("font-size", 36, 24);
		font-weight: 300;
		line-height: 1.22;
		text-align: center;
	}
	// .experience__form
	&__form {
	}
}
.form {
	> * {
		@include adaptiveValue("margin-bottom", 33, 22);
	}
	// .form__group
	&__group {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		column-gap: toRem(10);
		@include adaptiveValue("row-gap", 33, 22);
	}
	// .form__item
	&__item {
		flex: 1 1 toRem(524);
	}
	// .form__input
	&__input {
		border: toRem(2) solid $mainColor;
		border-radius: toRem(40);
		padding-right: toRem(20);
		@include adaptiveValue("padding-top", 27, 18);
		@include adaptiveValue("padding-bottom", 28, 18);
		@include adaptiveValue("padding-left", 42, 20);
		font-size: toRem(14);
		font-family: $fontFamily;
		transition: border-color 0.3s ease;
		&::placeholder {
			color: $mainColor;
			font-size: toRem(14);
			font-family: $fontFamily;
			transition:
				opacity 0.3s ease,
				border-color 0.3s ease;
		}
		&:focus-visible {
			outline: toRem(2) solid $hoverColor;
		}
		&:focus-visible::placeholder {
			opacity: 0;
		}
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				border-color: $hoverColor;
			}
		}
	}
	// .form__textarea
	&__textarea {
		resize: vertical;
		border: toRem(2) solid $mainColor;
		border-radius: toRem(40);
		padding-right: toRem(20);
		min-height: toRem(210);
		font-family: $fontFamily;
		font-size: toRem(14);
		transition: border-color 0.3s ease;
		@include adaptiveValue("padding-top", 27, 18);
		@include adaptiveValue("padding-bottom", 28, 18);
		@include adaptiveValue("padding-left", 42, 20);
		&::placeholder {
			font-size: toRem(14);
			color: $mainColor;
			font-family: $fontFamily;
			transition: opacity 0.3s ease;
		}
		&:focus-visible {
			outline: toRem(2) solid $hoverColor;
		}
		&:focus-visible::placeholder {
			opacity: 0;
		}
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				border-color: $hoverColor;
			}
		}
	}
	// .form__btn
	&__btn {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	> :last-child {
		margin-bottom: toRem(0);
	}
}
