@use "sass:math";
@use "_settings" as *;
//Pages==================================================================
.page {
	// .page__hero
	&__hero {
		@include adaptiveValue("margin-bottom", 90, 60);
	}
	// .page__introduction
	&__introduction {
		@include adaptiveValue("margin-bottom", 110, 60);
	}
	// .page__why
	&__why {
		@include adaptiveValue("margin-bottom", 114, 56);
	}
	// .page__partners
	&__partners {
		@include adaptiveValue("margin-bottom", 114, 70);
	}
	// .page__build
	&__build {
		@include adaptiveValue("margin-bottom", 114, 80);
		& {
			background: url("../img/build/bg-line.svg") center 50px / 80% 100% no-repeat;
		}
		@media (max-width: toEm(1210)) {
			background: none;
		}
	}
	// .page__experience
	&__experience {
		@include adaptiveValue("margin-bottom", 120, 80);
	}
}
// Hero
// ======================================================================
.hero {
	// .hero__container
	&__container {
	}
	// .hero__body
	&__body {
		display: flex;
		justify-content: space-between;
		gap: toRem(20);
		@include adaptiveValue("margin-bottom", 88, 53);
		@include adaptiveValue("padding-top", 100, 30);
		@media (max-width: toEm(767.98)) {
			flex-direction: column;
		}
	}
	// .hero__info
	&__info {
		max-width: toRem(510);
		flex-basis: 100%;
		position: relative;
		&::before {
			content: "";
			background: url("../img/hero/decor/line.svg");
			background-repeat: no-repeat;
			background-position: 0 0;
			background-size: contain;
			width: 100%;
			height: 120%;
			position: absolute;
			left: toRem(-80);
			top: toRem(0);
			@media (max-width: toEm(991.98)) {
				display: none;
			}
		}
		@media (max-width: toEm(767.98)) {
			order: 2;
			max-width: 100%;
		}
	}
	// .hero__title
	&__title {
		@include adaptiveValue("padding-top", 48, 5);
		@include adaptiveValue("font-size", 46, 22);
		& {
			font-weight: 700;
			line-height: 1.217;
		}
		span {
			font-family: $fontFamily;
			background: linear-gradient(91.57deg, #c0b7e8 -1.02%, #8176af 36.25%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
			@include adaptiveValue("font-size", 46, 34);
		}
		&:not(:last-child) {
			margin-bottom: toRem(36);
		}
	}
	// .hero__text
	&__text {
		line-height: 1.5;
		max-width: toRem(450);
		> p:not(:last-child) {
			margin-bottom: toRem(10);
		}
		&:not(:last-child) {
			margin-bottom: toRem(65);
		}
		@media (max-width: toEm(767.98)) {
			display: none;
		}
	}
	// .hero__link
	&__link {
		padding: toRem(17) toRem(43) toRem(16) toRem(38);
		background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
		border-radius: toRem(40);
		color: $linkColor;
		font-size: toRem(12);
		line-height: 1.25;
		position: relative;
		transition: all 0.5s ease;
		& {
			font-weight: 700;
		}
		@media (any-hover: hover), (any-pointer: fine) {
			&:hover {
				color: $mainColor;
			}
		}
		@media (max-width: toEm(767.98)) {
			width: 100%;
			text-align: center;
		}
		&:after {
			content: "";
			position: absolute;
			top: 50%;
			translate: 0% -50%;
			background-image: url("../img/hero/icons/arrow.svg");
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			width: toRem(41);
			height: toRem(33);
			right: toRem(-80);
			@media (max-width: toEm(767.98)) {
				display: none;
			}
		}
	}
	// .hero__image
	&__image {
		position: relative;
		max-width: 490px;
		aspect-ratio: 490 / 426;
		background: rgba(0, 0, 0, 0.13);
		border-radius: toRem(100) toRem(100) toRem(100) toRem(240);
		border: toRem(1) solid black;
		@include adaptiveValue("padding", 16, 10);
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: toRem(100) toRem(100) toRem(100) toRem(240);
		}
		@media (max-width: toEm(767.98)) {
			order: 1;
			max-width: 100%;
		}
		&::after {
			content: "";
			background: url("../img/hero/decor/lines.svg");
			background-repeat: no-repeat;
			background-position: right 0;
			background-size: contain;
			width: 200%;
			height: 200%;
			position: absolute;
			@include adaptiveValue("top", -250, -130);
			@include adaptiveValue("right", -90, -30);
			& {
				z-index: -1;
			}
			@media (max-width: toEm(767.98)) {
				height: 170%;
			}
		}
	}
	// .hero__contacts
	&__contacts {
	}
}
// Hero Contacts
// ======================================================================
.contacts-items {
	background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211e2e 100%);
	box-shadow: toRem(0) toRem(4) toRem(4) rgba(192, 183, 232, 0.01);
	border-radius: toRem(90);
	padding: toRem(28.5) toRem(0);
	display: flex;
	// flex-wrap: wrap;
	align-items: center;
	gap: toRem(2);
	position: relative;
	// .contacts-items__item
	&__item {
		border-right: toRem(1) solid rgba(192, 183, 232, 0.33);
		flex: 1 1 toRem(422);
		@media (max-width: toEm(1300)) {
			border: none;
		}
		// .contacts-items__item--visit
		&--visit {
			background: url("../img/hero/icons/location.svg") toRem(35) toRem(30) / toRem(60) toRem(60) no-repeat;
			min-height: toRem(60);
			@include adaptiveValue("padding-left", 100, 100);
		}
		// .contacts-items__item--call
		&--call {
			background: url("../img/hero/icons/phone.svg") toRem(30) toRem(30) / toRem(60) no-repeat;
			min-height: toRem(60);
			@include adaptiveValue("padding-left", 110, 102);
		}
		// .contacts-items__item--email
		&--email {
			background: url("../img/hero/icons/mail.svg") toRem(30) toRem(30) / toRem(60) no-repeat;
			min-height: toRem(60);
			@include adaptiveValue("padding-left", 110, 102);
			& {
				border: none;
			}
		}
	}
	// .contacts-items__body
	&__body {
		min-height: toRem(110);
		padding-top: toRem(30);
	}
	// .contacts-items__title
	&__title {
		font-size: toRem(24);
		font-weight: 700;
		line-height: 1.2;
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
	// .contacts-items__link
	&__link {
		@include adaptiveValue("font-size", 14, 13);
		& {
			line-height: 1.2;
		}
		@media (any-hover: hover), (pointer: fine) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
// Contacts
// ======================================================================
.contacts {
	background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211e2e 100%);
	box-shadow: toRem(0) toRem(4) toRem(4) rgba(192, 183, 232, 0.01);
	border-radius: toRem(90);
	// padding: toRem(28.5) toRem(15);
	@include adaptiveValue("padding-top", 28, 5);
	@include adaptiveValue("padding-bottom", 28, 15);
	// @include adaptiveValue("padding-right", 10, 10);
	& {
		padding-right: toRem(32);
		display: flex;
		align-items: center;
		position: relative;
	}
	// .contacts__controls
	&__controls {
		position: relative;
	}
	// .contacts__slider
	&__slider {
	}
	// .contacts__wrapper
	&__wrapper {
	}
	// .contacts__slide
	&__slide {
		border-right: toRem(1) solid rgba(192, 183, 232, 0.33);
		// flex: 0 0 1;
		@media (max-width: toEm(1300)) {
			border: none;
		}
		// .contacts__slide--visit
		&--visit {
			background: url("../img/hero/icons/location.svg") toRem(35) toRem(30) / toRem(60) toRem(60) no-repeat;
			min-height: toRem(60);
			@include adaptiveValue("padding-left", 100, 70);
			@media (max-width: toEm(960)) {
				background: url("../img/hero/icons/location.svg") toRem(40) toRem(30) / toRem(25) no-repeat;
			}

			@media (max-width: toEm(435)) {
				background: url("../img/hero/icons/location.svg") toRem(40) toRem(25) / toRem(25) no-repeat;
			}
			@media (max-width: toEm(320)) {
				background: url("../img/hero/icons/location.svg") toRem(40) toRem(20) / toRem(25) no-repeat;
			}
		}
		// .contacts__slide--call
		&--call {
			background: url("../img/hero/icons/phone.svg") toRem(30) toRem(30) / toRem(60) no-repeat;
			min-height: toRem(60);
			@include adaptiveValue("padding-left", 110, 95);
			@media (max-width: toEm(960)) {
				background: url("../img/hero/icons/phone.svg") toRem(55) toRem(30) / toRem(30) no-repeat;
			}
			@media (max-width: toEm(390)) {
				background: url("../img/hero/icons/phone.svg") toRem(50) toRem(25) / toRem(30) no-repeat;
			}
		}
		// .contacts__slide--email
		&--email {
			background: url("../img/hero/icons/mail.svg") toRem(30) toRem(30) / toRem(60) no-repeat;
			min-height: toRem(60);
			@include adaptiveValue("padding-left", 110, 78);
			& {
				border: none;
			}
			@media (max-width: toEm(960)) {
				background: url("../img/hero/icons/mail.svg") toRem(40) toRem(26) / toRem(40) no-repeat;
			}
			@media (max-width: toEm(650)) {
				background: url("../img/hero/icons/mail.svg") toRem(40) toRem(30) / toRem(30) no-repeat;
			}
			@media (max-width: toEm(580)) {
				background: url("../img/hero/icons/mail.svg") toRem(40) toRem(30) / toRem(28) no-repeat;
			}
			@media (max-width: toEm(535)) {
				background: url("../img/hero/icons/mail.svg") toRem(40) toRem(26) / toRem(28) no-repeat;
			}
			@media (max-width: toEm(412)) {
				background: url("../img/hero/icons/mail.svg") toRem(40) toRem(23) / toRem(28) no-repeat;
			}
			@media (max-width: toEm(320)) {
				background: url("../img/hero/icons/mail.svg") toRem(35) toRem(21) / toRem(28) no-repeat;
				@include adaptiveValue("padding-left", 78, 68);
			}
		}
	}
	// .contacts__body
	&__body {
		@include adaptiveValue("padding-top", 30, 10);
		@include adaptiveValue("min-height", 110, 60);

		@media (max-width: toRem(650)) {
			align-items: center;
			display: flex;
		}
	}
	// .contacts__title
	&__title {
		@include adaptiveValue("font-size", 24, 18);
		& {
			font-weight: 700;
			line-height: 1.2;
		}
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
		@media (max-width: toEm(650)) {
			display: none;
		}
	}
	// .contacts__link
	&__link {
		opacity: 0.7;
		@include adaptiveValue("font-size", 14, 13);
		& {
			line-height: 1.2;
		}
		@media (any-hover: hover), (pointer: fine) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.controls-contacts {
	position: absolute;
	top: 50%;
	translate: 0 -50%;
	z-index: 2;
	width: 100%;
	// .controls-contacts__arrow
	&__arrow {
		position: absolute;
		top: 50%;
		translate: 0 -50%;
		border-radius: 50%;
		// .controls-contacts__arrow--prev
		&--prev {
			left: toRem(7);
		}
		// .controls-contacts__arrow--next
		&--next {
			right: toRem(7);
			rotate: -180deg;
		}
		&--prev,
		&--next {
			display: none;
			@media (max-width: toEm(1300)) {
				display: block;
			}
		}
	}
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
// Introduction
// ======================================================================
.introduction {
	// .introduction__container
	&__container {
		background: url("../img/about/lines.svg") 0 toRem(260) / 100% no-repeat;
		@media (max-width: toEm(1160)) {
			background: url("../img/about/lines.svg") 0 toRem(320) / 100% no-repeat;
		}
		@media (max-width: toEm(991.98)) {
			background: url("../img/about/lines.svg") 0 toRem(320) / 0% no-repeat;
		}
	}
	// .introduction__top-content
	&__top-content {
		display: flex;
		justify-content: space-between;
		gap: 20px;
		@include adaptiveValue("margin-bottom", 100, 36);
		@media (max-width: toRem(1160)) {
			flex-direction: column;
		}
	}
	// .introduction__title
	&__title {
		@media (max-width: toEm(360)) {
		}
	}
	// .introduction__text
	&__text {
		line-height: 1.62;
		> p {
			&:not(:last-child) {
				margin-bottom: toRem(10);
			}
		}
		&--top {
			max-width: 652px;
			@media (max-width: toRem(1160)) {
				max-width: 100%;
			}
			@media (max-width: toEm(360)) {
				display: none;
			}
		}
		&--bottom {
			&:not(:last-child) {
				margin-bottom: toRem(28);
			}
			max-width: 630px;
			@media (max-width: toRem(991.98)) {
				max-width: 100%; //991.98
			}
		}
	}
	// .introduction__bottom-content
	&__bottom-content {
	}
	// .introduction__items
	&__items {
		display: flex;
		justify-content: space-between;
		gap: toRem(20);
		@media (max-width: toRem(991.98)) {
			flex-direction: column;
		}
	}
	// .introduction__item
	&__item {
	}
	// .introduction__image
	&__image {
		max-width: toRem(524);
		aspect-ratio: 524 / 557;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 45.8% 19% 45.8% 20% / 45.8% 19% 45.8% 20%;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		}
		@media (max-width: toRem(991.98)) {
			max-width: 100%;
		}
	}
	// .introduction__content
	&__content {
		max-width: toRem(630);
		@include adaptiveValue("padding-top", 50, 30);
		@media (max-width: toEm(991.98)) {
			max-width: 100%;
		}
	}
	// .introduction__label
	&__label {
		display: flex;
		flex-direction: column;
		gap: toRem(5);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 42, 30);
		}
		@media (max-width: toEm(360)) {
			display: none;
		}
	}
	// .introduction__link
	&__link {
		min-width: toRem(150);
	}
}
// Why
// ======================================================================
.why {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		top: 218px;
		left: 200px;
		background-image: url("../img/why/line-bg.svg");
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: cover;
		width: 80%;
		height: 85%;
		@media (max-width: toEm(1422)) {
			background-image: none;
		}
	}
	// .why__container
	&__container {
	}
	// .why__top
	&__top {
		display: flex;
		justify-content: space-between;
		gap: toRem(20);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 107, 26);
		}
		@media (max-width: toRem(1160)) {
			flex-direction: column;
		}
	}
	// .why__title
	&__title {
	}
	// .why__text
	&__text {
		line-height: 1.62;
		max-width: 652px;
		> p:not(:last-child) {
			margin-bottom: toRem(10);
		}
		@media (max-width: toRem(1160)) {
			max-width: 100%;
		}
		@media (max-width: toEm(360)) {
			display: none;
		}
	}
	// .why__cards
	&__cards {
		position: relative;
	}
}
.cards {
	// .cards__slider
	&__slider {
	}
	// .cards__wrapper
	&__wrapper {
		display: flex;
	}
	// .cards__item
	&__item {
		display: flex;
		flex-direction: column;
		padding: toRem(23) toRem(35) toRem(40) toRem(25);
		background: radial-gradient(50% 50% at 50% 50%, #433d60 0%, #211e2e 100%);
		border-radius: toRem(40);
		align-items: center;
		gap: toRem(5);
	}
	// .cards__image
	&__image {
		max-width: 190px;
		aspect-ratio: 1;
		margin-bottom: toRem(16);
		padding: toRem(14);
		background: rgba(14, 14, 14, 0.32);
		border-radius: 50%;
		img {
			border-radius: 50%;
			width: 100%;
			height: 100%;
			object-fit: cover;
			background: rgba(14, 14, 14, 0.32);
		}
	}
	// .cards__heading
	&__heading {
		margin-bottom: toRem(17.5);
		font-size: toRem(24);
		font-weight: 700;
		position: relative;
		border-bottom: toRem(1) solid rgba(192, 183, 232, 0.33);
		padding-bottom: toRem(17.5);
	}
	// .cards__text
	&__text {
		margin-bottom: toRem(30);
		font-size: toRem(12);
		line-height: 1.5;
		> p:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
	// .cards__link
	&__link {
	}
	// .cards__controls
	&__controls {
	}
}
.controls {
	position: absolute;
	top: 50%;
	translate: 0 -50%;
	width: 100%;
	z-index: 1;
	// .controls__arrow
	&__arrow {
		position: absolute;
		top: 50%;
		translate: 0 -50%;
		border-radius: 50%;
		border: toRem(11) solid rgba(14, 14, 14, 0.32);
		img {
			padding: toRem(10) toRem(14) toRem(10) toRem(14);
			background: linear-gradient(267.61deg, #c0b7e8 -0.6%, #8176af 98.31%);
			border-radius: 50%;
		}
		// .controls__arrow--prev
		&--prev {
			left: toRem(-10);
			rotate: -360deg;
		}
		// .controls__arrow--next
		&--next {
			right: toRem(-10);
			rotate: -180deg;
		}
		&--prev,
		&--next {
			display: none;
			@media (max-width: toEm(1300)) {
				display: block;
			}
		}
	}
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-button-prev,
.swiper-button-next {
	display: none;
}
// Partners
// ======================================================================
.partners {
	// .partners__container
	&__container {
	}
	// .partners__top
	&__top {
		// margin-bottom: 90px;
		@include adaptiveValue("margin-bottom", 90, 70);
		@include adaptiveValue("padding-top", 108, 35);
		@include adaptiveValue("padding-bottom", 96, 25);
		& {
			position: relative;
		}
	}
	// .partners__title
	&__title {
		position: relative;
		top: 0;
		z-index: 2;
		text-align: center;
		display: flex;
		flex-direction: column;
		gap: toRem(15);
		@include adaptiveValue("font-size", 36, 16);
		span {
			@include adaptiveValue("font-size", 36, 24);
		}
	}
	// .partners__image
	&__image {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: toRem(160);
			box-shadow: toRem(0) toRem(4) toRem(4) rgba(192, 183, 232, 0.01);
			opacity: 0.2;
			position: absolute;
			top: 0;
			@media (max-width: toEm(320)) {
				border-radius: toRem(40);
			}
		}
	}
	// .partners__popup
	&__popup {
	}
	// .partners__bottom
	&__bottom {
		position: relative;
	}
	// .partners__slider
	&__slider {
	}
	// .partners__items
	&__items {
		display: flex;
		align-items: center;
	}
	// .partners__item
	&__item {
		min-width: toRem(174);
		text-align: center;
		@media (max-width: toEm(1200)) {
			&.swiper-slide img {
				width: toRem(174);
			}
		}
	}
	// .partners__controls
	&__controls {
	}
}
.popup {
	position: absolute;
	bottom: toRem(-50);
	left: 46%;
	border-radius: 50%;
	border: toRem(15) solid rgba(14, 14, 14, 0.32);
	@media (max-width: toEm(767.98)) {
		left: 42%;
		bottom: toRem(-65);
	}
	@media (max-width: toEm(560)) {
		display: none;
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 50%;
		padding: toRem(30) toRem(21) toRem(24) toRem(21);
		background: linear-gradient(267.61deg, #c0b7e8 -0.6%, #8176af 98.31%);
		transition: opacity 0.3s ease;
	}
	img:hover {
		opacity: 0.5;
	}
}
.controls-partners {
	position: absolute;
	width: 100%;
	top: 50%;
	translate: 0 -50%;
	z-index: 1;
	// .controls-partners__arrow
	&__arrow {
		position: absolute;
		top: 50%;
		translate: 0 -50%;
		border-radius: 50%;
		border: toRem(11) solid rgba(14, 14, 14, 0.32);
		img {
			padding: toRem(10) toRem(14) toRem(10) toRem(14);
			background: linear-gradient(267.61deg, #c0b7e8 -0.6%, #8176af 98.31%);
			border-radius: 50%;
		}
		// .controls-partners__arrow--prev
		&--prev {
			left: toRem(-10);
			rotate: -360deg;
		}
		// .controls-partners__arrow--next
		&--next {
			right: toRem(-10);
			rotate: -180deg;
		}
		&--next,
		&--prev {
			display: none;
			@media (max-width: toEm(1200)) {
				display: block;
			}
		}
	}
}
// Build
// ======================================================================
.build {
	// .build__container
	&__container {
	}
	// .build__top
	&__top {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 20px;
		@media (max-width: toRem(1210)) {
			flex-direction: column;
		}
		&:not(:last-child) {
			// margin-bottom: 124px;
			@include adaptiveValue("margin-bottom", 124, 37);
		}
	}
	// .build__title
	&__title {
	}
	// .build__text
	&__text {
		line-height: 1.62;
		max-width: 652px;
		> p {
			&:not(:last-child) {
				margin-bottom: toRem(10);
			}
		}
		@media (max-width: toRem(1210)) {
			max-width: 100%;
		}
		@media (max-width: toEm(360)) {
			display: none;
		}
	}
	// .build__bottom
	&__bottom {
		position: relative;
	}
	// .build__slider
	&__slider {
	}
	// .build__items
	&__items {
		display: flex;
		align-items: center;
		justify-content: space-between;
		counter-reset: item;
	}
	// .build__item
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: toRem(25);
		span {
			border: toRem(20) solid rgba(13, 13, 13, 0.32);
			border-radius: 50%;
		}
		span::before {
			width: toRem(158);
			aspect-ratio: 1;
			font-size: toRem(64);
			font-weight: 700;
			color: $linkColor;
			border-radius: 50%;
			content: counter(item, decimal-leading-zero);
			counter-increment: item;
			background: linear-gradient(251.27deg, #c0b7e8 12.87%, #8176af 89.33%);
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	// .build__heading
	&__heading {
		@include adaptiveValue("font-size", 24, 20);
		& {
			padding-left: toRem(35);
			line-height: 1.2;
			font-weight: 700;
			background: url("../img/build/arrow.svg") toRem(0) toRem(4) / toRem(27) toRem(22) no-repeat;
		}
		@media (max-width: toEm(390)) {
			background: none;
			padding-left: 0;
			text-align: center;
		}
	}
	// .build__controls
	&__controls {
	}
}
.controls-build {
	position: absolute;
	width: 100%;
	bottom: 50px;
	z-index: 1;
	// .controls-build__arrow
	&__arrow {
		position: absolute;
		border-radius: 50%;
		border: toRem(11) solid rgba(14, 14, 14, 0.32);
		img {
			padding: toRem(10) toRem(14) toRem(10) toRem(14);
			background: linear-gradient(267.61deg, #c0b7e8 -0.6%, #8176af 98.31%);
			border-radius: 50%;
		}
		// .controls-build__arrow--prev
		&--prev {
			left: -10px;
			rotate: -360deg;
		}
		// .controls-build__arrow--next
		&--next {
			right: -10px;
			rotate: -180deg;
		}
		&--next,
		&--prev {
			display: none;
			@media (max-width: toEm(1200)) {
				display: block;
			}
		}
	}
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
// Experience
// ======================================================================
.experience {
	// .experience__container
	&__container {
	}
	// .experience__body
	&__body {
		@include adaptiveValue("padding-top", 90, 45);
		@include adaptiveValue("padding-bottom", 84, 65);
		@include adaptiveValue("padding-inline", 106, 25);
		& {
			background: radial-gradient(50% 50% at 50% 50%, #403a5f 0%, #211e2e 100%);
			box-shadow: toRem(0) toRem(4) toRem(4) rgba(0, 0, 0, 0.25);
			border-radius: toRem(100);
		}
	}
	// .experience__header
	&__header {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		@include adaptiveValue("gap", 50, 40);
		@include adaptiveValue("margin-bottom", 65, 36);
	}
	// .experience__title
	&__title {
		position: relative;
		&::after {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			width: 100%;
			height: toRem(1);
			background: linear-gradient(90deg, #343045 0%, #c0b7e8 35%, #8176af 69%, #343045 99%);
			@include adaptiveValue("bottom", -25, -20);
		}
	}
	// .experience__subtitle
	&__subtitle {
		@include adaptiveValue("font-size", 36, 24);
		& {
			font-weight: 300;
			line-height: 1.22;
			text-align: center;
		}
	}
	// .experience__form
	&__form {
	}
}
.form {
	> * {
		@include adaptiveValue("margin-bottom", 33, 22);
	}
	// .form__group
	&__group {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		column-gap: toRem(10);
		@include adaptiveValue("row-gap", 33, 22);
	}
	// .form__item
	&__item {
		flex: 1 1 toRem(524);
	}
	// .form__input
	&__input {
		border: toRem(2) solid #ffffff;
		border-radius: toRem(40);
		padding-right: toRem(20);
		@include adaptiveValue("padding-top", 27, 18);
		@include adaptiveValue("padding-bottom", 28, 18);
		@include adaptiveValue("padding-left", 42, 20);
		& {
			font-size: toRem(14);
			font-family: $fontFamily;
			transition: border 0.3s ease;
		}
		&::placeholder {
			color: $mainColor;
			font-size: toRem(14);
			font-family: $fontFamily;
			transition: opacity 0.3s ease;
		}
		&:focus-visible {
			outline: toRem(2) solid $hoverColor;
		}
		&:focus-visible::placeholder {
			opacity: 0;
		}
		@media (any-hover: hover), (any-pointer: fine) {
			&:hover {
				border: toRem(2) solid $hoverColor;
			}
		}
	}
	// .form__textarea
	&__textarea {
		& {
			border: toRem(2) solid #ffffff;
			border-radius: toRem(40);
			padding-right: toRem(20);
			min-height: toRem(210);
			font-family: $fontFamily;
			font-size: toRem(14);
			transition: border 0.3s ease;
		}
		@include adaptiveValue("padding-top", 27, 18);
		@include adaptiveValue("padding-bottom", 28, 18);
		@include adaptiveValue("padding-left", 42, 20);
		&::placeholder {
			font-size: toRem(14);
			color: $mainColor;
			font-family: $fontFamily;
			transition: opacity 0.3s ease;
		}
		&:focus-visible {
			outline: toRem(2) solid $hoverColor;
		}
		&:focus-visible::placeholder {
			opacity: 0;
		}
		@media (any-hover: hover), (any-pointer: fine) {
			&:hover {
				border: toRem(2) solid $hoverColor;
			}
		}
	}
	// .form__btn
	&__btn {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	> :last-child {
		margin-bottom: toRem(0);
	}
}
