@use "sass:math";
@use "../settings" as *;
@use "../colors" as *;
// =======================================================================================================================
// Block our
.page {
	// .page__our
	&__our {
		@include adaptiveValue("padding-bottom", 178, 40);
	}
}
.our {
	// .our__container
	&__container {
	}
	// .our__items
	&__items {
		@include adaptiveValue("column-gap", 55, 20);
		display: grid;
		grid-template-columns: 35.548% 28.906% auto;
		row-gap: toRem(40);
		@media (max-width: toEm(1024)) {
			grid-template-columns: 1fr 1fr;
			.our__item:nth-child(3) {
				grid-column: 1 / -1;
			}
		}
		@media (max-width: toEm(672)) {
			grid-template-columns: 1fr;
		}
	}
	// .our__item
	&__item {
		display: flex;
		flex-direction: column;
		align-self: flex-start;
		text-align: center;
	}
	// .our__icon
	&__icon {
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
	// .our__img-icon
	&__img-icon {
		@include adaptiveValue("width", 84, 42);
		aspect-ratio: 1;
		object-fit: contain;
	}
	// .our__label
	&__label {
		@include adaptiveValue("font-size", 48, 24);
		line-height: 1.45;
		color: $black;
		font-weight: 600;
		&:not(:last-child) {
			margin-bottom: toRem(12);
		}
	}
	// .our__text
	&__text {
		line-height: 2;
		> p {
			&:not(:last-child) {
				margin-bottom: toRem(10);
			}
		}
	}
}
// =======================================================================================================================
// Block blockquote
.page {
	// .page__blockquote
	&__blockquote {
		@include adaptiveValue("margin-bottom", 178, 40);
	}
}
.blockquote {
	// .blockquote__container
	&__container {
	}
	// .blockquote__items
	&__items {
		display: grid;
		grid-template-columns: 40.657% auto;
		@include adaptiveValue("row-gap", 50, 20);
		@include adaptiveValue("column-gap", 136, 20);
		@media (max-width: toEm($mobile)) {
			grid-template-columns: auto;
		}
	}
	// .blockquote__item
	&__item {
	}
	// .blockquote__image
	&__image {
		max-width: toRem(557);
		@media (max-width: toEm($mobile)) {
			max-width: 100%;
			display: flex;
			justify-content: center;
		}
	}
	// .blockquote__img
	&__img {
		width: 100%;
		height: auto;
		aspect-ratio: 557 / 549;
		object-fit: cover;
		border-radius: 28% 0 27.3% 0 / 28% 0% 27.3% 0;
		box-shadow: toRem(0) toRem(4) toRem(4) rgba(0, 0, 0, 0.25);
	}
	// .blockquote__icon
	&__icon {
		@include adaptiveValue("width", 81, 20);
		@include adaptiveValue("height", 64, 16);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 60, 15);
		}
	}
	// .blockquote__content
	&__content {
	}
	// .blockquote__text
	&__text {
		line-height: 1.66;
		color: $grey6;
		cite {
			@include adaptiveValue("font-size", 36, 20);
			color: $black;
			font-weight: 600;
			line-height: 1.94;
			font-style: normal;
			span {
				color: $grey3;
				display: block;
				@include adaptiveValue("font-size", 18, 14);
				font-weight: 500;
			}
		}
	}
	// .blockquote__box
	&__box {
		> p:not(:last-child) {
			@include adaptiveValue("margin-bottom", 44, 20);
		}
		margin-bottom: toRem(30);
	}
}
// =======================================================================================================================
// Block advantages
.page {
	// .page__advantages
	&__advantages {
		@include adaptiveValue("margin-bottom", 178, 40);
		@include adaptiveValue("padding-block", 215, 50);
	}
}
.advantages {
	position: relative;
	// .advantages__container
	&__container {
	}
	// .advantages__items
	&__items {
		position: relative;
		z-index: 3;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		column-gap: toRem(30);
		@include adaptiveValue("row-gap", 30, 20);
		@media (max-width: toEm(490)) {
			flex-direction: column;
		}
	}
	// .advantages__item
	&__item {
		display: flex;
		&:nth-child(1) {
			& .advantages__sign {
				position: relative;
				@include adaptiveValue("right", 10, 0);
			}
		}
		&:nth-child(3) {
			gap: toRem(10);
		}
		&:nth-child(4) {
			gap: toRem(20);
		}
	}
	// .advantages__body
	&__body {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		column-gap: toRem(30);
		@media (max-width: toEm(800)) {
			flex-grow: 1;
			justify-content: space-between;
		}
	}
	// .advantages__icon
	&__icon {
	}
	// .advantages__img-icon
	&__img-icon {
		&--1 {
			@include adaptiveValue("width", 86, 50);
			@include adaptiveValue("height", 86, 50);
		}
		&--2 {
			@include adaptiveValue("width", 80, 50);
			@include adaptiveValue("height", 80, 50);
		}
		&--3 {
			@include adaptiveValue("width", 105, 50);
			@include adaptiveValue("height", 80, 50);
		}
		&--4 {
			@include adaptiveValue("width", 57, 50);
			@include adaptiveValue("height", 86, 50);
		}
		&--1,
		&--2 {
			aspect-ratio: 1;
			object-fit: contain;
		}
	}
	// .advantages__info
	&__info {
		color: $white;
		display: flex;
		flex-direction: column;
	}
	// .advantages__content
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	// .advantages__num
	&__num {
		@include adaptiveValue("font-size", 48, 28);
		font-weight: 600;
		line-height: 1.45;
	}
	// .advantages__label
	&__label {
		color: $grey15;
		line-height: 2;
		font-weight: 600;
		@include adaptiveValue("padding-bottom", 10, 0);
	}
	// .advantages__img
	&__img {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		filter: blur(2.2px);
	}
	// .advantages__sign
	&__sign {
		display: flex;
		align-items: flex-start;
		padding-top: toRem(5);
		flex-shrink: 0;
	}
}
// =======================================================================================================================
// Section gallery
.page {
	// .page__gallery
	&__gallery {
		@include adaptiveValue("margin-bottom", 178, 30);
	}
}
.gallery {
	// .gallery__container
	&__container {
	}
	// .gallery__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 80, 30);
		}
	}
	// .gallery__items
	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: toRem(20);
		@media (max-width: toEm($mobile)) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	// .gallery__item
	&__item {
		position: relative;
		&:nth-child(1) {
			grid-row: span 2;
			grid-column: span 2;
			img {
				aspect-ratio: 1;
			}
		}
		&:nth-child(2) {
			grid-column: span 2;
			img {
				aspect-ratio: 675 / 328;
			}
		}
		&:nth-child(3) {
			img {
				aspect-ratio: 1;
			}
		}
		&:nth-child(4) {
			img {
				aspect-ratio: 1;
			}
		}
	}
	// .gallery__heading
	&__heading {
		position: absolute;
		left: toRem(22);
		line-height: 1.6;
		color: $white;
		bottom: 0;
		z-index: 2;
		@include adaptiveValue("font-size", 36, 16);
	}
	//.gallery__img
	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: toRem(10);
	}
}
