@use "sass:math";
@use "../settings" as *;
@use "../colors" as *;
// =======================================================================================================================
// Section explore
.page {
	// .page__explore
	&__explore {
	}
}
.explore {
	// .explore__container
	&__container {
	}
	// .explore__title
	&__title {
		@media (max-width: toEm($mobile)) {
			&:not(:last-child) {
				margin-bottom: toRem(15);
			}
		}
	}
	// .explore__controls
	&__controls {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: toRem(20);
		@include adaptiveValue("margin-bottom", 41, 30);
	}
	// .explore__arrow
	&__arrow {
		@include adaptiveValue("font-size", 25, 20);
		@include adaptiveValue("padding-top", 20, 10);
		@include adaptiveValue("padding-right", 20, 10);
		@include adaptiveValue("padding-bottom", 20, 10);
		@include adaptiveValue("padding-left", 27, 13);
		box-shadow: toRem(0) toRem(20) toRem(35) rgba(0, 0, 0, 0.1);
		background: $white;
		border: toRem(1) solid $border-btn;
		border-radius: toRem(10);
		color: $grey11;
		transition:
			background-color 0.3s ease,
			color 0.3s ease;

		// .explore__arrow--left
		&--prev {
		}
		// .explore__arrow--right
		&--next {
			rotate: 180deg;
		}
		&.swiper-button-disabled {
			opacity: 0.5;
			cursor: default;
			background-color: $grey10;
			color: $white;
		}
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				background-color: $grey10;
				color: $white;
			}
		}
	}
	// .explore__slider
	&__slider {
		margin-inline: toRem(-15);
		padding-inline: toRem(15);
		@include adaptiveValue("padding-bottom", 90, 40);
	}
	// .explore__wrapper
	&__wrapper {
	}
	// .explore__slide
	&__slide {
	}
}
.item-explore {
	position: relative;
	&--border {
		box-shadow: toRem(0) toRem(20) toRem(35) rgba(0, 0, 0, 0.1);
		background-color: $white;
		border-radius: toRem(10);
		overflow: hidden;
		.item-explore__image img {
			border-radius: 0;
		}
	}
	// .item-explore__image
	&__image {
		max-width: toRem(453);
		width: 100%;
		display: block;
		img {
			border-radius: toRem(10);
			width: 100%;
			height: 100%;
			aspect-ratio: 453 / 361;
			object-fit: cover;
		}
		&--small {
			img {
				aspect-ratio: 453 / 316;
			}
		}
	}
	// .item-explore__body
	&__body {
		@include adaptiveValue("padding-top", 34, 20);
		@include adaptiveValue("padding-bottom", 27, 15);
		padding-right: toRem(19);
		padding-left: toRem(14);
		background-color: $white;
	}
	// .item-explore__link
	&__link {
		transition: color 0.3s ease;
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				color: $grey3;
			}
		}
	}
	// .item-explore__title
	&__title {
		@include typography("XXL");
		position: relative;
		z-index: 2;
		line-height: 1.5;
		color: $black;
		font-weight: 600;
		margin-bottom: toRem(7);
	}
	// .item-explore__info
	&__info {
		font-size: toRem(14);
		line-height: 1.5;
	}
	// .item-explore__decor
	&__decor {
		bottom: toRem(90);
		right: toRem(30);
		position: absolute;
		background: $white;
		box-shadow: toRem(0) toRem(4) toRem(31) rgba(0, 0, 0, 0.14);
		border-radius: 50%;
		border: toRem(1) solid $grey13;
		padding-top: toRem(14);
		padding-bottom: toRem(12);
		padding-left: toRem(25);
		padding-right: toRem(28);
		width: toRem(79);
		height: toRem(76);
		@media (max-width: toEm(570)) {
			display: none;
		}
	}
}
// =======================================================================================================================
// Section why
.page {
	// .page__why
	&__why {
		@include adaptiveValue("padding-top", 56, 30);
	}
}
.why {
	position: relative;
	// .why__container
	&__container {
	}
	// .why__title
	&__title {
		position: relative;
		z-index: 2;
		&:not(:last-child) {
			margin-bottom: toRem(17);
		}
	}
	// .why__controls
	&__controls {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: toRem(20);
		@include adaptiveValue("margin-bottom", 75, 30);
	}
	// .why__arrow
	&__arrow {
		@include adaptiveValue("font-size", 25, 20);
		@include adaptiveValue("padding-block", 20, 10);
		@include adaptiveValue("padding-inline", 27, 13.5);
		transition: background-color 0.3s ease;
		background-color: $white;
		color: $grey11;
		border-radius: toRem(10);
		border: toRem(1) solid $border-btn;
		position: relative;
		z-index: 2;
		filter: drop-shadow(toRem(0) toRem(8) toRem(50) rgba(0, 0, 0, 0.1));

		// .why__arrow--prev
		&--prev {
		}
		// .why__arrow--next
		&--next {
			rotate: -180deg;
		}
		&.swiper-button-disabled {
			opacity: 0.5;
			cursor: default;
			background-color: $grey10;
		}
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				background-color: $grey10;
			}
		}
	}
	// .why__slider
	&__slider {
		margin-top: toRem(-15);
		margin-inline: toRem(-15);
		padding-top: toRem(15);
		padding-inline: toRem(15);
		@include adaptiveValue("padding-bottom", 126, 40);
		@media (min-width: toEm(1198.98)) {
			max-width: toRem(1201);
			margin-inline: auto;
		}
	}
	// .why__wrapper
	&__wrapper {
	}
	// .why__slide
	&__slide {
		height: auto;
	}
	// .why__item
	&__item {
	}
	// .why__bg
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 70.7%;
	}
	// .why__image
	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.item-why {
	display: flex;
	height: 100%;
	&__body {
		display: flex;
		flex-direction: column;
		border-radius: toRem(10);
		background-color: $white;
		box-shadow: toRem(0) toRem(8) toRem(60) rgba(0, 0, 0, 0.15);
		@include adaptiveValue("padding-bottom", 70, 10);
		@include adaptiveValue("padding-top", 44, 10);
		@include adaptiveValue("padding-left", 22, 10);
		@include adaptiveValue("padding-right", 20, 10);
	}
	// .item-why__image
	&__image {
		background-color: $black;
		border-radius: toRem(10);
		@include adaptiveValue("padding-block", 19, 10);
		@include adaptiveValue("padding-inline", 19, 10);
		@include adaptiveValue("width", 95, 45);
		@include adaptiveValue("height", 97, 47);
		@include adaptiveValue("margin-bottom", 33, 15);
	}
	// .item-why__title
	&__title {
		@include typography("XXL");
		font-weight: 600;
		color: $black;
		line-height: 1.5;
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
	// .item-why__text
	&__text {
		// flex-grow: 1;
		line-height: 1.5;
		font-weight: 500;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 35, 15);
		}
	}
	// .item-why__box
	&__box {
		svg {
			transform: translateY(toRem(2));
			transition: transform 0.3s ease;
		}
	}
	// .item-why__link
	&__link {
		display: flex;
		align-items: center;
		justify-self: flex-start;
		color: $black;
		line-height: 1.5;
		gap: toRem(9);
		transition: color 0.3s ease;
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				color: $grey6;
				svg {
					transform: translateY(toRem(2)) rotate(-30deg);
				}
			}
		}
	}
}
// ._icon-s-cart-arrow {
// }
// =======================================================================================================================
// Section partners
.page {
	// .page__partners
	&__partners {
		@include adaptiveValue("margin-bottom", 130, 50);
	}
}
.partners {
	// .partners__container
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	// .partners__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 68, 40);
		}
	}
	// .partners__items
	&__items {
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		max-width: toRem(1137);
		width: 100%;
		column-gap: toRem(20);
		@include adaptiveValue("row-gap", 30, 20);
	}
	// .partners__item
	&__item {
		flex: 1 1 auto;
		justify-content: center;
		&--center {
			align-items: center;
			display: flex;
		}
		img {
			max-width: 100%;
			width: auto;
			@include adaptiveValue("max-height", 54, 25);
			object-fit: contain;
		}
	}
}
// =======================================================================================================================
.page {
	// .page__testimonial
	&__testimonial {
		@include adaptiveValue("margin-bottom", 100, 40);
	}
}
.testimonial {
	// .testimonial__container
	&__container {
	}
	// .testimonial__title
	&__title {
	}
	// .testimonial__controls
	&__controls {
		display: flex;
		justify-content: flex-end;
		@include adaptiveValue("column-gap", 66, 30);
		@include adaptiveValue("margin-bottom", 80, 50);
	}
	// .testimonial__arrow
	&__arrow {
		@include adaptiveValue("font-size", 28, 18);
		@include adaptiveValue("padding-block", 24, 10);
		@include adaptiveValue("padding-inline", 27.4, 12.5);
		background-color: $white;
		border: toRem(1) solid $border-btn;
		border-radius: toRem(10);
		filter: drop-shadow(toRem(0) toRem(8) toRem(50) rgba(0, 0, 0, 0.1));
		transition:
			background-color 0.3s ease,
			color 0.3s ease;
		// .testimonial__arrow--prev
		&--prev {
		}
		// .testimonial__arrow--next
		&--next {
			transform: rotate(180deg);
		}
		&.swiper-button-disabled {
			opacity: 0.5;
			cursor: default;
			background-color: $grey10;
			color: $white;
		}
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				background-color: $grey10;
				color: $white;
			}
		}
	}
	// .testimonial__slider
	&__slider {
		padding-top: toRem(65);

		&.swiper {
			overflow: visible;
		}
	}
	// .testimonial__wrapper
	&__wrapper {
	}
	// .testimonial__slide
	&__slide {
	}
	// .testimonial__item
	&__item {
	}
}
.item-testimonial {
	position: relative;

	// .item-testimonial__body
	&__body {
		background: $white;
		box-shadow: toRem(0) toRem(20) toRem(60) rgba(0, 0, 0, 0.1);
		border-radius: toRem(10);
		@include adaptiveValue("padding-top", 100, 60);
		@include adaptiveValue("padding-bottom", 44, 10);
		@include adaptiveValue("padding-inline", 50, 10);
	}
	// .item-testimonial__top
	&__top {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	// .item-testimonial__image
	&__image {
		position: absolute;
		top: toRem(-65);
		left: 50%;
		transform: translateX(-50%);
		img {
			width: toRem(130);
			border-radius: 50%;
			aspect-ratio: 1;
			object-fit: cover;
		}
	}
	// .item-testimonial__head
	&__head {
		text-align: center;
		@include adaptiveValue("margin-bottom", 77, 20);
	}
	// .item-testimonial__name
	&__name {
		@include adaptiveValue("font-size", 24, 20);
		line-height: 1.8;
		font-weight: 600;
		color: $black;
	}
	// .item-testimonial__label
	&__label {
		font-weight: 500;
		color: $grey3;
	}
	// .item-testimonial__rating
	&__rating {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 18, 10);
		}
	}
	// .item-testimonial__text
	&__text {
		line-height: 1.55;
		font-weight: 500;
	}
}
.rating {
	display: flex;
	column-gap: toRem(7);
	// .rating__item
	&__item {
		aspect-ratio: 1 / 1;
		flex: 0 0 toRem(21);
		height: toRem(21);
		background: url("../img/icons/star.svg") 0 0 no-repeat;
	}
}
// =======================================================================================================================
// Section subscribe
.page {
	// .page__subscribe
	&__subscribe {
	}
}
.subscribe {
	// .subscribe__content
	&__content {
		@include adaptiveValue("padding-bottom", 157, 40);
		@include adaptiveValue("padding-top", 66, 40);
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-inline: toRem(15);
		position: relative;
	}
	// .subscribe__title
	&__title {
		@include typography("h2");
		margin-bottom: toRem(24);
		font-weight: 600;
		color: $white;
		line-height: 1.16;
		text-align: center;
		position: relative;
		z-index: 5;
	}
	// .subscribe__descr
	&__descr {
		@include adaptiveValue("margin-bottom", 85, 40);
		color: $grey7;
		line-height: 1.88;
		max-width: toRem(630);
		text-align: center;
		position: relative;
		z-index: 5;
	}
	// .subscribe__form
	&__form {
		@include adaptiveValue("padding-left", 23, 10);
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		max-width: toRem(676);
		width: 100%;
		padding-top: toRem(7);
		padding-bottom: toRem(7);
		padding-right: toRem(8);
		border-radius: toRem(34.5);
		position: relative;
		z-index: 5;
		@media (min-width: toEm(400)) {
			display: flex;
			background-color: $white;
			display: flex;
			align-items: center;
			max-width: toRem(676);
			@include adaptiveValue("gap", 10, 5);
		}
		@media (max-width: toEm(400)) {
			background-color: transparent;
			gap: toRem(20);
		}
	}
	// .subscribe__figure
	&__figure {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	// .subscribe__image
	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
