$dark: #020202;
$black: #000;
$grey17: #7d7d7d;
$grey16: #c4c4c4;
$grey15: #e7e7e7;
$grey14: #3d3d3d;
$grey13: #ececec;
$grey12: #9b9b9b;
$grey11: #737373;
$grey10: #dcdcdc;
$grey9: #cfcfcf;
$grey8: #626262;
$grey7: #dfdfdf;
$grey6: #484848;
$grey5: #555555;
$grey4: #6c6c6c;
$grey3: #858585;
$grey2: #343434;
$mainColor: #878787;
$white: #fff;
$border-btn: #e8e8e8;
