@use "sass:math";
@use "settings" as *;
@use "vars" as *;
// =======================================================================================================================
// .block-head {
// }
.btn {
	background-color: var(--btn-bg);
	color: var(--white-color);
	transform: translate3d(0, 0, 0);
	transition:
		background-color 0.3s ease,
		box-shadow 0.3s ease,
		color 0.3s ease,
		transform 0.3s ease,
		border-color 0.3s ease;
	&--connection {
		@include adaptiveValue("padding-block", 11, 9);
		@include adaptiveValue("padding-inline", 17.5, 8);
		border: toRem(2) solid var(--accent-color);
		border-radius: toRem(60);
		color: var(--accent-color);
		background-color: transparent;
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				background-color: var(--btn-connection-hover);
				border-color: var(--btn-connection-hover-border);
				color: var(--btn-connection-hover-color);
			}
		}
		@media (max-width: toEm(580)) {
			background-color: var(--btn-connection-bg);
		}
	}
	&--started {
		background-color: var(--btn-started-background);
		border-radius: toRem(42);
		@include adaptiveValue("padding-block", 11, 9);
		@include adaptiveValue("padding-inline", 38.3, 16);
		border: toRem(2) solid transparent;
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				background-color: transparent;
				color: var(--accent-color);
				border-color: var(--accent-color);
			}
		}
	}
	&--hero {
		border-radius: toRem(60);
		text-transform: capitalize;
		line-height: 1.16667;
		@include adaptiveValue("padding-top", 25, 12);
		@include adaptiveValue("padding-bottom", 26, 13);
		@include adaptiveValue("padding-left", 61, 30);
		@include adaptiveValue("padding-right", 61, 30);
	}
	&--hover {
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				transform: translate3d(0, toRem(1), 0);
				background-color: var(--btn-hover);
			}
		}
	}
	&--sale {
		color: var(--white-color);
		@include adaptiveValue("padding-block", 11.3, 8.5);
		padding-inline: toRem(35);
		text-transform: uppercase;
		border-radius: toRem(38);
		letter-spacing: toEm(7.6, 19);
		line-height: 1.68;
		@include adaptiveValue("font-size", 19, 16);
	}
	&--supported {
		display: flex;
		justify-content: center;
		flex-shrink: 0;
		color: var(--white-color);
		font-weight: 700;
		border: toRem(2) solid var(--white-color);
		border-radius: toRem(60);
		background-color: transparent;
		text-transform: uppercase;
		@include adaptiveValue("padding-block", 25, 12);
		@include adaptiveValue("padding-inline", 44, 22);
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				background-color: var(--btn-hover);
				border-color: transparent;
				box-shadow: toRem(0) toRem(9) toRem(20) toRem(-3) rgba(139, 111, 242, 0.976);
				transform: translate3d(0, toRem(1), 0);
			}
		}
		&:focus-visible {
			outline-offset: toRem(2);
			outline: toRem(2) solid var(--white-color);
		}
		@media (width <= toEm(565)) {
			flex: 1 1 100%;
			max-width: toRem(320);
		}
	}
}
//=========================================================
.circle {
	border: toRem(5) solid var(--circle-color);
	border-radius: 50%;
	@media (width <= toEm(950)) {
		display: none;
	}
}
//=========================================================
// .link {
// 	span {
// 		position: relative;
// 		display: inline-block;
// 	}
// 	span::after {
// 		content: "";
// 		position: absolute;
// 		left: 50%;
// 		bottom: toRem(-3);
// 		width: 0%;
// 		background-color: var(--accent-color);
// 		height: toRem(2);
// 		transition: width 0.3s ease;
// 		transform: translate(-50%, 0%);
// 	}
// 	&:hover span::after {
// 		width: 100%;
// 	}
// }
//=========================================================
//line-running first variant
.line-running {
	position: relative;
	outline: none;

	&:focus-visible {
		outline-offset: toRem(2);
		outline: toRem(2) solid var(--accent-color);
	}

	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: toRem(-3);
		width: 100%;
		height: toRem(2);
		background-color: var(--accent-color);
		transform: scaleX(0);
		transform-origin: right;
		transition: transform 0.3s ease;
	}

	@media (any-hover: hover) {
		&:hover {
			&::after {
				transform: scaleX(1);
				transform-origin: left;
			}
		}
	}
}
//=========================================================
//=========================================================
.text {
	color: var(--text-color);
	line-height: 1.38;
	&--white {
		color: var(--text-white);
		line-height: 1.66;
	}
}
// .text-white {
// }
.title {
	@include typography("h2");
	font-weight: 700;
	&--white {
		color: var(--title-white);
		font-weight: 700;
		@include adaptiveValue("font-size", 36, 20);
		line-height: 1.27;
	}
}
//=========================================================
//Second variant line-running
// .actions-header__link--login span {
// 	position: relative;
// 	display: inline-block;
// }
// .actions-header__link--login span::before {
// 	content: "";
// 	position: absolute;
// 	inset-block-start: 100%;
// 	inset-inline-start: 0;
// 	inline-size: 100%;
// 	block-size: 0.125rem; /* 2/16 */
// 	background-color: var(--accent-color);
// 	transition: transform 0.3s;
// 	transform: scale(0, 1);
// 	transform-origin: right;
// }
// .actions-header__link--login span:focus-visible::before {
// 	transform: scale(1, 1);
// 	transform-origin: left;
// }
// @media (any-hover) {
// 	.actions-header__link--login span:hover::before {
// 		transform: scale(1, 1);
// 		transform-origin: left;
// 	}
// }
//=========================================================
.hero__link.hero__link--text {
	position: relative;
	display: inline-block;
	color: var(--link-color);
	outline: none;
	transition: color 0.3s ease;
}
.hero__link.hero__link--text:focus-visible {
	color: var(--orange-color);
}
.hero__link.hero__link--text::before {
	content: "";
	position: absolute;
	inset-block-start: 100%;
	inset-inline-start: 0;
	inline-size: 100%;
	block-size: 0.125rem; /* 2/16 */

	background-color: var(--link-color);
	transition: transform 0.3s;
	transform: scale(0, 1);
	transform-origin: right;
}
.hero__link.hero__link--text:focus-visible::before {
	transform: scaleX(1);
	transform-origin: left;
	background-color: var(--orange-color);
}
@media (any-hover) {
	.hero__link.hero__link--text:hover::before {
		transform: scaleX(1);
		transform-origin: left;
	}
}

//=========================================================
//line-running optimization
.item-elevate__anchor {
	position: relative;
	display: inline-block;
}
.item-elevate__anchor::before {
	content: "";
	position: absolute;
	inset-block-start: 100%;
	inset-inline-start: 0;
	inline-size: 100%;
	block-size: 0.125rem;
	background-color: var(--link-color);
	transition:
		transform 0.3s,
		background-color 0.3s ease;
	transform: scale(0, 1);
	transform-origin: right;
}
.item-elevate__anchor:focus-visible::before {
	transform: scale(1, 1);
	transform-origin: left;
	background-color: var(--orange-color);
}
@media (any-hover) {
	.item-elevate__anchor:hover::before {
		transform: scale(1, 1);
		transform-origin: left;
	}
}
//=========================================================
.btn--started {
	// position: relative;
	// display: inline-block;
	// overflow: hidden;
	// border-color: toRem(2) solid transparent;
}
.btn--started::before {
	content: "";
	// position: absolute;
	// z-index: -1;
	// inset-block-start: 0;
	// inset-inline-start: 0;
	// inline-size: 100%;
	// block-size: 100%;
	// background-color: var(--link-color);
	// transition:
	// 	transform 0.3s,
	// 	border-color 0.3s ease,
	// 	background-color 0.3s ease;
	// transform: scale(1, 0);
	// transform-origin: bottom;
}
.btn--started:focus-visible::before {
	// transform: scale(1, 1);
	// transform-origin: bottom;
	// background-color: transparent;
}
@media (any-hover) {
	.btn--started:hover::before {
		// transform: scale(1, 1);
		// transform-origin: bottom;
		// background-color: transparent;
		// border: toRem(2) solid transparent;
		// border-color: transparent;
	}
	.btn--started:hover {
		// transform: scale(1, 1);
		// transform-origin: bottom;
		// border: toRem(2) solid transparent;

		// background-color: transparent;
		// color: var(--accent-color);
		// border-color: var(--accent-color);
	}
}
