:root {
	--mainFont: "Poppins", sans-serif;

	// Colors
	--white-color: #fff;
	--violete-color: #7d25f0;
	--black-color: #000;
	--dark-blue: #191c2f;
	--body-bg: #f5f7ff;
	--header-bg: #f5f7ff;
}
