@use "sass:math";
@use "reset";
@use "vars" as *;
@use "fonts/iconfonts";
@use "fonts/font";
@use "settings" as *;
// =========================================
// Pages
@use "pages/index";
// =========================================
// Components
@use "components";
// =========================================
// Parts
@use "header";
@use "footer";
// =========================================
// =========================================
@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}
[class*="__container"] {
	max-width: toRem($containerWidth);
	padding-inline: toRem(math.div($containerPadding, 2));
	margin: 0 auto;
}

// =========================================
body {
	font-family: var(--mainFont);
	background-color: var(--body-bg);
	.menu-open & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	overflow-x: hidden;
}
.wrapper {
	display: flex;
	flex-direction: column;
	overflow: clip;
	min-height: 100%;
}
.wrapper > main {
	flex-grow: 1;
}
// =========================================
