@use "sass:math";
@use "../settings" as *;
@use "../vars" as *;
// =======================================================================================================================
// Hero section
@keyframes appearencescroll {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes scroll {
	0% {
		translate: 0% 0%;
		// transform: translate3d(0, 0, 0);
	}
	100% {
		translate: -100% 0%;
		// transform: translate3d(-50%, 0, 0);
	}
}
@keyframes appearence {
	0% {
		translate: -50% 0%;
		opacity: 0;
		scale: 0;
	}
	100% {
		translate: 0% 0%;
		opacity: 1;
		scale: 1;
	}
}
.page {
	// .page__hero
	&__hero {
		background: linear-gradient(105.91deg, #dac6ff 5.97%, #faeeff 36.45%, #ffe9cf 94.76%);
		@include adaptiveValue("margin-bottom", 105, 40);
	}
}
.hero {
	// .hero__container
	&__container {
	}
	// .hero__body
	&__body {
		// @include adaptiveValue("padding-top", 125, 115);
		padding-top: toRem(35);
		@media (max-width: toEm($mobile)) {
			padding-bottom: toRem(10);
		}
	}
	// .hero__columns
	&__columns {
		display: flex;
		row-gap: toRem(20);
		@include adaptiveValue("column-gap", 40, 20);
		@media (max-width: toEm($mobile)) {
			flex-wrap: wrap;
		}
	}
	// .hero__column
	&__column {
		// .hero__column--content
		&--content {
			flex: 0 1 toRem(659); //54.916%
			@media (max-width: toEm($mobile)) {
				// flex-grow: 1;
				flex: 1 1 100%;
			}
		}
		// .hero__column--form
		&--form {
			position: relative;
			z-index: 2;
			flex: 0 1 toRem(500); //41.722%
			background-color: var(--white-color);
			border-radius: toRem(10) toRem(10) toRem(10) toRem(260);
			@include adaptiveValue("padding-inline", 30, 8);
			@include adaptiveValue("padding-top", 30, 15);
			@include adaptiveValue("padding-bottom", 47, 10);
			box-shadow:
				toRem(0) toRem(330) toRem(132) rgba(0, 0, 0, 0.01),
				toRem(0) toRem(185) toRem(111) rgba(0, 0, 0, 0.05),
				toRem(0) toRem(82) toRem(82) rgba(0, 0, 0, 0.09),
				toRem(0) toRem(21) toRem(45) rgba(0, 0, 0, 0.1);

			> * {
				&:not(:last-child) {
					margin-bottom: toRem(20);
				}
			}
			@media (max-width: toEm($tablet)) {
				border-radius: toRem(10) toRem(10) toRem(10) toRem(10);
			}
			@media (max-width: toEm($mobile)) {
				// flex-grow: 1;
				flex: 1 1 100%;
			}
		}
	}
	// .hero__form
	&__form {
	}
	// .hero__title
	&__title {
		@include adaptiveValue("padding-top", 30, 0);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 44, 20);
		}
		@media (width < toEm(868)) {
			br {
				display: none;
			}
		}
	}
	// .hero__rank
	&__rank {
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}
	// .hero__leading
	&__leading {
	}
	// .hero__popup
	&__popup {
	}
	// .hero__scroll
	&__scroll {
		position: relative;
		display: flex;
		overflow: hidden;
		margin-top: toRem(-104);
		min-width: 100%;
		height: toRem(50);
		animation: appearencescroll 4s linear;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&:hover {
			.hero__running-line {
				animation-play-state: paused;
				cursor: pointer;
			}
		}
		@media (width < toEm(1230)) {
			margin-top: toRem(-50);
		}
		@media (max-width: toEm($mobile)) {
			margin-top: toRem(0);
		}
	}
	// .hero__running-line
	&__running-line {
		width: 100%;
		flex-shrink: 0;
		animation: scroll 50s linear infinite 6s;
		@media (max-width: toEm($mobileSmall)) {
			animation: scroll 20s linear infinite 6s;
		}
	}
}
.rank-hero {
	// .rank-hero__items
	&__items {
		display: flex;
		@include adaptiveValue("column-gap", 15, 5);
		align-items: center;
		border-top: toRem(1) solid rgba(126, 76, 220, 0.305);
		border-bottom: toRem(1) solid rgba(126, 76, 220, 0.305);
		padding-block: toRem(17);
		overflow-x: auto;
		scrollbar-width: none;
		scroll-behavior: smooth;
		-ms-overflow-style: none;
		&::-webkit-scrollbar {
			display: none;
			width: 0;
		}
		@media (pointer: coarse) {
			scrollbar-width: thin;
			-ms-overflow-style: auto;
		}
		@media (max-width: toEm($mobile)) {
			padding-inline: toRem(15);
			margin-inline: toRem(-15);
		}
	}
	// .rank-hero__item
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 1 1 auto;
		color: var(--violet-color);
		animation: appearence cubic-bezier(0.34, 0.4, 0.64, 1) 0.6s backwards;

		&:nth-child(1) {
			animation-delay: 0.2s;
		}
		&:nth-child(2) {
			animation-delay: 0.4s;
		}
		&:nth-child(3) {
			animation-delay: 0.6s;
		}
		&:nth-child(4) {
			animation-delay: 0.8s;
			margin-right: toRem(-85);

			.rank-hero__value {
				margin-right: toRem(18);
				@media (width < toEm(1875)) {
					margin-right: toRem(0);
				}
			}
			.rank-hero__name {
				margin-right: toRem(-5);
			}
		}
	}
	// .rank-hero__link
	&__link {
		border-radius: 50%;
		&:focus-visible {
			outline: toRem(2) solid var(--yellow-color);
			outline-offset: toRem(2);
		}
		&--big {
			margin-bottom: toRem(2);
			max-width: toRem(171);
			aspect-ratio: 1;
			border: toRem(8) solid var(--yellow-color);
			position: relative;

			@media (width < toEm(481)) {
				border: toRem(3) solid var(--yellow-color);
			}
			&::before {
				content: "";
				position: absolute;
				z-index: 10;
				bottom: toRem(10);
				right: toRem(0);
				aspect-ratio: 1;
				background-color: var(--yellow-color);
				border-radius: 50%;
				@include adaptiveValue("width", 40, 20);
			}
			&::after {
				content: "";
				@include adaptiveValue("bottom", 18, 14);
				@include adaptiveValue("right", 7, 3);
				@include adaptiveValue("width", 26, 13);
				@include adaptiveValue("height", 24, 12);
				position: absolute;
				z-index: 10;
				background: url("../img/hero/icons/star.svg") 0 0 / 100% no-repeat;
			}
		}
		&--small {
			max-width: toRem(151);
			aspect-ratio: 1;
			position: relative;
			@include adaptiveValue("margin-bottom", 7, 5);
			&::before {
				content: "";
				position: absolute;
				z-index: 10;
				bottom: 0;
				right: toRem(0);
				aspect-ratio: 1;
				background-color: var(--yellow-color);
				border-radius: 50%;
				@include adaptiveValue("width", 40, 20);
			}
			&::after {
				content: "";
				@include adaptiveValue("bottom", 7, 4);
				@include adaptiveValue("right", 6, 3);
				@include adaptiveValue("width", 26, 13);
				@include adaptiveValue("height", 24, 12);
				position: absolute;
				z-index: 10;
				background: url("../img/hero/icons/star.svg") 0 0 / 100% no-repeat;
			}
		}
	}
	// .rank-hero__figure
	&__figure {
		border-radius: 50%;
		overflow: hidden;
	}
	// .rank-hero__img
	&__img {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		object-fit: cover;
		transition: scale 0.4s ease;
		@include adaptiveValue("font-size", 16, 10);
		&:hover {
			scale: 1.03 1.03;
		}
	}
	// .rank-hero__value
	&__value {
		@include adaptiveValue("font-size", 27, 12);
		font-weight: 700;
		line-height: 1.22;
	}
	// .rank-hero__name
	&__name {
		@include adaptiveValue("font-size", 19, 10);
		line-height: 1.21;
	}
}
.leading-hero {
	// .leading-hero__title
	&__title {
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}
	// .leading-hero__items
	&__items {
		display: flex;
		flex-wrap: wrap;
		row-gap: toRem(5);
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: toRem(0);
			left: toRem(0);
			height: 100%;
			width: toRem(1);
			background-color: var(--red-light);
		}
		&::after {
			content: "";
			position: absolute;
			top: toRem(0);
			right: toRem(0);
			height: 100%;
			width: toRem(1);
			background-color: var(--red-light);
		}
	}
	// .leading-hero__item
	&__item {
		@include adaptiveValue("font-size", 17, 16);
		display: flex;
		line-height: 1.23;
		padding-inline: toRem(10);
		padding-block: toRem(7);
		border: toRem(1) solid var(--red-light);
		border-right: none;
		min-height: toRem(79);
		flex: 1 1 toRem(265);

		&:nth-child(1) {
			flex: 1 1 toRem(128);
			background-color: var(--red-light);
			color: var(--white-color);
			font-weight: 700;
			justify-content: center;
			align-items: center;
		}
		&:last-child {
			border-right: toRem(1) solid var(--red-light);
		}
	}
	// .leading-hero__body-item
	&__body-item {
		display: flex;
		align-items: center;
		gap: toRem(10);
	}
	// .leading-hero__icon
	&__icon {
		width: toRem(52);
		aspect-ratio: 1;
	}
	// .leading-hero__text
	&__text {
		font-weight: 600;
		color: var(--violet-color);
		> p {
			&:not(:last-child) {
				margin-bottom: toRem(10);
			}
		}
	}
}
.popup {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	@media (max-width: toEm($tablet)) {
		align-items: center;
	}
	// .popup__text
	&__text {
		font-size: toRem(15);
		line-height: 1.2;
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
	// .popup__box
	&__box {
		position: relative;
	}
	// .popup__figure
	&__figure {
		aspect-ratio: 249 / 137;
		max-width: toRem(249);
	}
	// .popup__picture
	&__picture {
	}
	// .popup__img
	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: toRem(7);
	}
	// .popup__triangle
	&__triangle {
	}
}
.triangle {
	width: toRem(70);
	aspect-ratio: 1;
	background-color: rgba(255, 255, 255, 0.8);
	position: absolute;
	border-radius: 50%;
	padding: toRem(8);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	// .triangle__button
	&__button {
		border: toRem(4) solid var(--red-light);
		width: toRem(54);
		aspect-ratio: 1;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		&:focus-visible {
			outline: toRem(3) solid var(--red-light);
			outline-offset: toRem(5);
			border-radius: toRem(60);
		}
	}
	// .triangle__right
	&__right {
		width: toRem(0);
		height: toRem(0);
		border-top: toRem(10) solid transparent;
		border-left: toRem(14) solid var(--red-light);
		border-bottom: toRem(10) solid transparent;
		border-radius: toRem(2);
		margin-left: toRem(3);
		animation: pulseOpacity 6s ease infinite 0s;
	}
}
@keyframes pulseOpacity {
	0% {
		opacity: 0.5;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.5;
	}
}
// =======================================================================================================================
// Section course
.page {
	// .page__course
	&__course {
		@include adaptiveValue("margin-bottom", 55, 40);
	}
}
.course {
	// .course__container
	&__container {
	}
	// .course__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 10);
		}
	}
	// .course__cards
	&__cards {
	}
}
.cards-course {
	// .cards-course__items
	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		@include adaptiveValue("gap", 19.5, 10);
		@media (width < toEm(768)) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (width <= toEm(540)) {
			grid-template-columns: auto;
		}
	}
	// .cards-course__item
	&__item {
		display: grid;
	}
	// .cards-course__body
	&__body {
		display: flex;
		flex-direction: column;
		background-color: var(--white-color);
		border-radius: toRem(10);
		@include adaptiveValue("padding", 20, 15);
		box-shadow:
			toRem(0) toRem(246) toRem(98) rgba(0, 0, 0, 0.01),
			toRem(0) toRem(138) toRem(83) rgba(0, 0, 0, 0.05),
			toRem(0) toRem(62) toRem(62) rgba(0, 0, 0, 0.09),
			toRem(0) toRem(15) toRem(34) rgba(0, 0, 0, 0.1);
		> *:not(:last-child):not(.cards-course__link) {
			@include adaptiveValue("margin-bottom", 20, 15);
		}
		.cards-course__link {
			margin-bottom: toRem(10);
		}
	}
	// .cards-course__image-link
	&__image-link {
		aspect-ratio: 347 / 196;
		transition: opacity 0.5s ease;
		&:focus-visible {
			outline: toRem(2) solid var(--red-light);
			outline-offset: toRem(2);
		}
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				opacity: 0.9;
				.cards-course__img {
					transform: scale(1.02);
				}
			}
		}
	}
	// .cards-course__figure
	&__figure {
		overflow: hidden;
	}
	// .cards-course__picture
	&__picture {
	}
	// .cards-course__img
	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		aspect-ratio: 347 / 196;
		transition: transform 0.5s ease;
	}
	// .cards-course__link
	&__link {
		@include adaptiveValue("font-size", 15, 14);
		align-self: center;
		line-height: 1.2;
		font-weight: 600;
		background-color: var(--yellow-color);
		padding-block: toRem(4);
		padding-inline: toEm(10);
		border-radius: toRem(40);
		transition: opacity 0.3s ease;
		&:focus-visible {
			outline: toRem(2) solid var(--yellow-color);
			outline-offset: toRem(2);
		}
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				opacity: 0.8;
			}
		}
	}
	// .cards-course__anchor
	&__anchor-title {
		text-decoration-line: underline;
		text-underline-offset: toRem(3);
		text-decoration-thickness: toRem(1);
		text-decoration-color: transparent;
		transition: all 0.3s ease;
		&:focus-visible {
			outline: toRem(2) solid var(--black-color);
		}
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				text-decoration-line: underline;
				text-underline-offset: toRem(3);
				text-decoration-thickness: toRem(1);
				text-decoration-color: var(--black-color);
			}
		}
	}
	// .cards-course__title
	&__title {
		text-align: center;
		font-weight: 600;
		@include adaptiveValue("font-size", 22, 16);
	}
	// .cards-course__text
	&__text {
		flex-grow: 1;
		text-align: center;
		line-height: 1.26;
		color: var(--gray-color2);
		@include adaptiveValue("font-size", 15, 14);
		> p {
			&:not(:last-child) {
				margin-bottom: toRem(10);
			}
		}
	}
	// .cards-course__button
	&__button {
	}
}
// =======================================================================================================================
// Section academy
.page {
	// .page__academy
	&__academy {
		background-color: var(--gray-color3);
		@include adaptiveValue("padding-block", 56, 25);
	}
}
.academy {
	// .academy__container
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: toRem(20);
		row-gap: toRem(20);
		flex-wrap: wrap;
		@media (width <= toEm(716)) {
			flex-direction: column;
			text-align: center;
		}
	}
	// .academy__title
	&__title {
		@media (width < toEm(716)) {
			br {
				display: none;
			}
		}
	}
	// .academy__button
	&__button {
	}
}
// =======================================================================================================================
// Section meet
.page {
	// .page__meet
	&__meet {
		background-color: var(--violet-color);
		@include adaptiveValue("padding-top", 60, 30);
		@include adaptiveValue("padding-bottom", 100, 20);
	}
}
.meet {
	// .meet__container
	&__container {
	}
	// .meet__title
	&__title {
		strong {
			display: block;
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 20);
		}
	}
	// .meet__cards
	&__cards {
	}
}
.cards-meet {
	// .cards-meet__items
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(toRem(290), 1fr));
		@include adaptiveValue("gap", 19.5, 10);
	}
	// .cards-meet__item
	&__item {
		display: flex;
		flex-direction: column;
	}
	// .cards-meet__body
	&__body {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		background-color: var(--white-color);
		transition: background-color 0.3s ease;
		@include adaptiveValue("padding", 20, 10);
		> * {
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 16, 10);
			}
		}
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				background-color: var(--yellow-color);
			}
		}
	}
	// .cards-meet__image-link
	&__image-link {
		aspect-ratio: 347 / 266;
		&:focus-visible {
			outline: toRem(2) solid var(--red-light);
			outline-offset: toRem(4);
		}
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				.cards-meet__img {
					transform: scale(1.02);
				}
			}
		}
	}
	// .cards-meet__figure
	&__figure {
		overflow: hidden;
	}
	// .cards-meet__picture
	&__picture {
	}
	// .cards-meet__img
	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		aspect-ratio: 347 / 266;
		transition: transform 0.5s ease;
	}
	// .cards-meet__name
	&__name {
		@include adaptiveValue("font-size", 22, 18);
		line-height: 1.22;
		font-weight: 600;
	}
	// .cards-meet__text
	&__text {
		color: var(--gray-color2);
		line-height: 1.26;
		flex-grow: 1;
		@include adaptiveValue("font-size", 15, 14);
		> p {
			&:not(:last-child) {
				margin-bottom: toRem(10);
			}
		}
	}
	// .cards-meet__link
	&__link {
		display: inline-flex;
		align-self: flex-start;
		font-size: toRem(15);
		line-height: 1.26;
		color: var(--red-light);
		transition: color 0.3s ease;
		&:focus-visible {
			outline: toRem(2) solid var(--red-light);
			outline-offset: toRem(4);
			border-radius: toRem(10);
		}
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				text-decoration: underline;
				color: var(--black-color);
			}
		}
	}
}
// =======================================================================================================================
// Section faculty
.page {
	// .page__faculty
	&__faculty {
		@include adaptiveValue("padding-top", 55, 30);
		@include adaptiveValue("padding-bottom", 35, 10);
	}
}
.faculty {
	// .faculty__container
	&__container {
	}
	// .faculty__body
	&__body {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		@include adaptiveValue("column-gap", 90, 20);
		row-gap: toRem(20);
		position: relative;
	}
	// .faculty__content
	&__content {
		flex: 0 1 toRem(518);
		> * {
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 20, 10);
			}
		}
		@media (width <= toEm(1575)) {
			flex: 1 1 100%;
		}
	}
	// .faculty__title
	&__title {
		display: flex;
		flex-direction: column;
	}
	// .faculty__text
	&__text {
		@include adaptiveValue("font-size", 22, 16);
		color: var(--violete-color);
		line-height: 1.22;
	}
	// .faculty__list
	&__list {
		@include adaptiveValue("font-size", 20, 16);
		color: var(--gray-color2);
		line-height: 1.7;
		> * {
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 20, 10);
			}
		}
	}
	// .faculty__item
	&__item {
		display: flex;
		align-items: center;
		column-gap: toRem(15);
		&::before {
			content: "";
			background: url("../img/faculty/icons/icon-check.svg") 0 0 / 100% no-repeat;
			width: toRem(30);
			aspect-ratio: 1;
			flex-shrink: 0;
			align-self: flex-start;
		}
	}
	// .faculty__slider
	&__slider {
		flex: 0 1 toRem(764);
		@include adaptiveValue("padding-bottom", 35, 30);
		@include adaptiveValue("margin-right", -172, 0);
		@media (width <= toEm(1575)) {
			margin-right: toRem(0);
			flex: 1 1 100%;
		}
		@media (width <= toEm(480)) {
			margin-inline: toRem(-15);
			padding-inline: toRem(15);
		}
	}
	// .faculty__wrapper
	&__wrapper {
	}
	// .faculty__slide
	&__slide {
	}
	// .faculty__figure
	&__figure {
	}
	// .faculty__picture
	&__picture {
	}
	// .faculty__img
	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		aspect-ratio: 764 / 521;
	}
	// .faculty__pagination
	&__pagination {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		@include adaptiveValue("gap", 20, 5);
		.swiper-pagination-bullet {
			@include adaptiveValue("width", 15, 8);
			@include adaptiveValue("height", 15, 8);
			background-color: #eaeaea;
			opacity: 1;
			cursor: pointer;
			&:focus-visible {
				outline: toRem(2) solid var(--violet-color);
				outline-offset: toRem(2);
			}
		}
		.swiper-pagination-bullet-active {
			background-color: var(--violet-color);
		}
	}
}
//========================================================================================================================
// Section services
.page {
	// .page__services
	&__services {
		background-color: var(--violet-color);
		@include adaptiveValue("padding-top", 70, 30);
		@include adaptiveValue("padding-bottom", 60, 20);
	}
}
.services {
	// .services__container
	&__container {
	}
	// .services__body
	&__body {
		display: flex;
		flex-direction: column;
	}
	// .services__title
	&__title {
		align-self: center;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 20);
		}
	}
	// .services__items
	&__items {
		display: flex;
		column-gap: toRem(20);
		overflow-x: auto;
		scroll-behavior: smooth;
		-webkit-overflow-scrolling: touch; /* Плавний скрол на iOS пристроях */
		// Приховуємо скролбар за замовчуванням (для десктопів з мишкою)
		-ms-overflow-style: none;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
			width: 0;
			height: 0;
		}
		@media (pointer: coarse) {
			scrollbar-width: thin; /* auto - щоб змінювати стилі повзунка(товщину, колір */

			&::-webkit-scrollbar {
				display: block;
				-webkit-appearance: none; /*(скидає системні стилі) */
				height: toRem(4); /* Товщина лінії горизонтального скролу */
			}
			&::-webkit-scrollbar-thumb {
				background-color: rgba(255, 255, 255, 0.3);
				border-radius: toRem(4);
			}
			&::-webkit-scrollbar-track {
				background: transparent;
			}
		}

		@media (max-width: toEm($mobile)) {
			margin-inline: toRem(-15);
			padding-inline: toRem(15);
		}
		@media (min-width: toEm($mobile)) {
			justify-content: space-between;
		}
	}
	// .services__item
	&__item {
		flex-shrink: 0;
		padding-bottom: toRem(10);
	}
	// .services__content
	&__content {
		display: flex;
		align-items: center;
		gap: toRem(10);
		color: var(--white-color);
	}
	// .services__icon
	&__icon {
		@include adaptiveValue("width", 70, 50);
		aspect-ratio: 1;
	}
	// .services__info-content
	&__info-content {
		display: flex;
		flex-direction: column;
		gap: toRem(5);
		align-items: center;
		align-self: flex-start;
		line-height: 1;
		padding-block: toRem(9);
	}
	// .services__num
	&__num {
		@include adaptiveValue("font-size", 24, 20);
		font-weight: 700;
	}
	// .services__text
	&__text {
		font-size: toRem(14);
	}
}
//========================================================================================================================
//Section what
.page {
	// .page__what
	&__what {
		@include adaptiveValue("padding-top", 42, 25);
		@include adaptiveValue("padding-bottom", 65, 30);
		@include adaptiveValue("margin-bottom", 70, 0);
	}
}
.what {
	// .what__container
	&__container {
	}
	// .what__title
	&__title {
		text-align: center;
		@include adaptiveValue("padding-top", 60, 5);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 20);
		}
	}
	// .what__slider
	&__slider {
		max-width: toRem(754);
		overflow: visible;
		@media (width < toEm(540)) {
			overflow: hidden;
			margin-inline: toRem(-15);
			padding-inline: toRem(15);
		}
	}
	// .what__wrapper
	&__wrapper {
		@include adaptiveValue("margin-bottom", 30, 20);
	}
	// .what__slide
	&__slide {
		&.swiper-slide {
			opacity: 0.7;
			transition: opacity 0.3s ease;
		}
		&.swiper-slide-active {
			opacity: 1;
		}
	}
	// .what__body
	&__body {
		display: flex;
		row-gap: toRem(20);
		@include adaptiveValue("column-gap", 30, 10);
		@include adaptiveValue("padding-inline", 30, 0);
		@include adaptiveValue("padding-top", 30, 0);
		@include adaptiveValue("padding-bottom", 30, 10);
		@media (width <= toEm(600)) {
			flex-wrap: wrap;
		}
	}
	// .what__figure
	&__figure {
		@media (width <= toEm(600)) {
			flex-grow: 1;
		}
	}
	// .what__picture
	&__picture {
	}
	// .what__img
	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		aspect-ratio: 277 / 302;
		border-radius: toRem(10);
	}
	// .what__blockquote
	&__blockquote {
		@include adaptiveValue("padding-top", 20, 0);
		flex: 0 1 toRem(386);
		@media (width <= toEm(600)) {
			flex: 0 1 100%;
		}
	}
	// .what__text
	&__text {
		line-height: 1.62;
		position: relative;
		color: var(--black-light-color);
		@include adaptiveValue("font-size", 16, 14);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 18, 10);
		}
		> p {
			&:not(:last-child) {
				margin-bottom: toRem(10);
			}
		}
		&:before {
			content: "";
			position: absolute;
			@include adaptiveValue("top", -30, -10);
			@include adaptiveValue("right", -10, 0);
			@include adaptiveValue("width", 37, 16);
			@include adaptiveValue("height", 27, 10);
			background: url("../img/what/icons/quotes.svg") 0 0 / 100% no-repeat;
			@media (width <= toEm(600)) {
				position: relative;
				top: auto;
				right: auto;
				margin-bottom: toRem(5);
				display: block;
			}
		}
	}
	// .what__info-author
	&__info-author {
		display: flex;
		flex-direction: column;
		row-gap: toRem(5);
	}
	// .what__author
	&__author {
		@include adaptiveValue("font-size", 20, 16);
		line-height: 1.2;
		font-weight: 600;
		color: var(--black-light-color);
		text-transform: uppercase;
		font-style: normal;
		display: block;
	}
	// .what__rank
	&__rank {
		line-height: 1.18;
		color: var(--gray-color1);
		font-style: normal;
		display: block;
	}
	// .what__box-controls
	&__box-controls {
		justify-self: center;
		max-width: toRem(430);
		width: 100%;
	}
	// .what__pagination
	&__pagination {
		display: flex;
		flex-wrap: wrap;
		min-height: toRem(20);
		@include adaptiveValue("gap", 20, 5);
		justify-content: center;
		align-items: center;
		padding-inline: toRem(35);
		.swiper-pagination-bullet {
			@include adaptiveValue("width", 15, 8);
			@include adaptiveValue("height", 15, 8);
			background-color: #eaeaea;
			opacity: 1;
			cursor: pointer;
			&:focus-visible {
				outline: toRem(2) solid var(--violet-color);
				outline-offset: toRem(2);
			}
		}
		.swiper-pagination-bullet-active {
			background-color: var(--violet-color);
		}
		&.swiper-pagination {
			position: relative;
			bottom: toRem(0);
		}
	}
	// .what__controls-buttons
	&__controls-buttons {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-inline: toRem(15);
		position: relative;
		margin-top: toRem(-20);
		z-index: 10;
		pointer-events: none;
		* {
			pointer-events: auto;
		}
	}
	// .what__button
	&__button {
		&:focus-visible {
			outline: toRem(2) solid var(--violet-color);
			outline-offset: toRem(2);
		}
		// .what__button--prev
		&--prev {
		}
		// .what__button--next
		&--next {
		}
	}
	// .what__arrow-img
	&__arrow-img {
		width: toRem(20);
		aspect-ratio: 1;
		// .what__arrow-img--prev
		&--prev {
		}
		// .what__arrow-img--next
		&--next {
			rotate: 180deg;
		}
	}
}
//========================================================================================================================
// Section reasons
.page {
	// .page__reasons
	&__reasons {
		@include adaptiveValue("padding-top", 65, 30);
	}
}
.reasons {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(0deg, rgba(65, 38, 114, 0.86), rgba(65, 38, 114, 0.86));
		// background-color: rgba(65, 38, 114, 0.86);
	}
	// .reasons__container
	&__container {
	}
	// .reasons__body
	&__body {
		position: relative;
		z-index: 2;
	}
	// .reasons__columns
	&__columns {
		display: flex;
		justify-content: center;
		@include adaptiveValue("column-gap", 90, 10);
		@media (width < toEm(740)) {
			flex-direction: column-reverse;
			row-gap: toRem(20);
		}
	}
	// .reasons__column
	&__column {
		// .reasons__column--form
		&--form {
			flex: 0 1 toRem(500);
			background-color: var(--white-color);
			border-radius: toRem(10) toRem(10) toRem(0) toRem(0);
			@include adaptiveValue("padding-inline", 30, 8);
			@include adaptiveValue("padding-top", 30, 15);
			@include adaptiveValue("padding-bottom", 55, 25);
			@media (width < toEm(740)) {
				flex: 0 1 100%;
			}
		}
		// .reasons__column--enroll
		&--enroll {
			flex: 0 1 toRem(455);
			@include adaptiveValue("padding-bottom", 50, 5);
			@media (width < toEm(740)) {
				flex: 0 1 100%;
			}
		}
	}
	// .reasons__title
	&__title {
		@include adaptiveValue("margin-bottom", 38, 20);
		@include adaptiveValue("padding-top", 30, 0);
	}
	// .reasons__form
	&__form {
	}
	// .reasons__list
	&__list {
		@include adaptiveValue("font-size", 24, 15);
		line-height: 1.2;
		color: var(--white-color);
	}
	// .reasons__item
	&__item {
		display: flex;
		align-items: center;
		column-gap: toRem(15);
		row-gap: toRem(5);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 10);
		}
		&::before {
			content: "";
			background: url("../img/reasons/icons/icon.svg") 0 0 / 100% no-repeat;
			@include adaptiveValue("width", 32, 20);
			aspect-ratio: 1;
			align-self: flex-start;
			flex-shrink: 0;
		}
	}
	// .reasons__figure
	&__figure {
	}
	// .reasons__picture
	&__picture {
	}
	// .reasons__image
	&__image {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
