:root {
	--mainFont: "Montserrat", sans-serif;

	// Colors
	--white-color: #fff;
	--orange-color: #f26522;
	--orange-light: #f7941d;
	--black-color: #000;
	--dark-blue: #191c2f;
	--btn-hover: #bd4914;
	--header-bg: #ebd9cf;
	--body-bg: #f5f7ff;
}
