:root {
	--accent-color: #272d4e;
	--white-color: #fff;
	--orange-color: #f35b09;

	--btn-started-hover: transparent;
	--btn-started-background: #5a54f2;
	--btn-connection-hover: #5a54f2;
	--btn-connection-hover-border: #5a54f2;
	--btn-connection-hover-color: #fff;
	--btn-connection-bg: #fff;
	--btn-bg: #f35b09;
	--btn-hover: #c95d23;

	--bg-header-color: #fff;

	--link-color: #5a54f2;

	--text-color: #94a2b3;
	--text-popup: #fff;
	--title-white: #fff;
	--text-white: #fff;

	--section-bg: #5a54f2;
	--advantages-bg: #231f8b;
	--advantages-card-bg: #fff;
	--advantages-card-hover: #5a54f2;

	--line-color: #e74040;
	--label-color: #5a54f2;
	--second-text-color: #737373;

	--circle-color: #ffba49;

	--supported--bg: #5a54f2;

	--footer-bg: #231f20;
	--form-color: #183249;

	--social-icons-color: #272d4e;
}
