$fontFamily: "KoPubBatang", serif;
$fontShanti: "Shanti", serif;
$fontCarme: "Carme", sans-serif;

$mainColor: #2c2c2c;
$bgColor: #f8f3ec;
$btnColor: #dbccba;
$titleColor: #000;
$colorCopy: #4e4e4e;
$linkTitleHover: #bc8949c3;
$bgAction: #efd9bfec;
