@use "sass:math";
@use "settings" as *;
@use "colors" as *;
// =======================================================================================================================
.block-head {
	display: flex;
	//flex-direction: column;
	align-items: center;
	text-align: center;
	&--col {
		display: grid;
		justify-content: center;
	}
	&--start {
		display: flex;
		flex-direction: column;
		row-gap: toRem(5);
		align-items: flex-start;
	}
	// .block-head__label
	&__label {
		@include adaptiveValue("font-size", 30, 16);
		font-weight: 500;
		line-height: 1.5;
		color: $grey8;
		letter-spacing: toRem(4);
		&--small {
			@include adaptiveValue("font-size", 36, 24);
			color: $mainColor;
			font-weight: 500;
			line-height: 1.94;
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 12, 2);
			}
		}
	}
	// .block-head__title
	&__title {
		@include typography("h2");
		color: $dark;
		font-weight: 600;
		line-height: 1.16;
		// .block-head__title--margin
		&--margin {
			max-width: toRem(756);
			// width: 100%;
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 30, 20);
			}
		}
		&--margin-m {
			&:not(:last-child) {
				margin-bottom: toRem(20);
			}
		}
		// .block-head__title--white
		&--white {
			color: $white;
			&:not(:last-child) {
				margin-bottom: toRem(7);
			}
		}
		&--start {
			text-align: left;
			color: $black;
		}
		&--start-margin {
			color: $black;
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 25, 15);
			}
		}
	}
	// .block-head__descr
	&__descr {
		font-weight: 500;
		line-height: 2;
		&--width {
			max-width: toRem(630);
			// width: 100%;
		}
		// .block-head__descr--white
		&--white {
			color: $white;
		}
		&--start {
			line-height: 2;
			color: $grey8;
			text-align: left;
			max-width: toRem(577);
			// width: 100%;
			@media (max-width: toEm(823)) {
				max-width: 100%;
			}
		}
		&--start-light {
			font-weight: 300;
			text-align: left;
			line-height: math.div(33, 18);
		}
	}
}
.btn {
	// font-size: toRem(22);
	color: $white;
	line-height: math.div(33, 22);
	// font-weight: 600;
	background-color: $black;
	// padding-block: toRem(14);
	// padding-inline: toRem(26);
	border-radius: toRem(30);
	transition: background-color 0.3s ease;
	@media (any-hover: hover) and (any-pointer: fine) {
		&:hover {
			background-color: $grey2;
		}
	}
}
