@use "sass:math";
@use "settings" as *;
@use "colors" as *;
// =======================================================================================================================
.footer {
	// .footer__container
	&__container {
	}
	// .footer__body
	&__body {
		display: flex;
		justify-content: space-between;
		row-gap: toRem(20);
		column-gap: toRem(30);
		@include adaptiveValue("padding-top", 90, 20);
		@include adaptiveValue("padding-bottom", 70, 20);
		@media (max-width: toEm(868)) {
			flex-wrap: wrap;
		}
	}
	// .footer__box
	&__box {
		flex-grow: 1;
		max-width: toRem(436);
		@media (max-width: toEm(868)) {
			max-width: 100%;
		}
	}
	// .footer__logo
	&__logo {
		max-width: toRem(378);
		aspect-ratio: 378 / 91;
		&:not(:last-child) {
			margin-bottom: toRem(5);
		}
	}
	// .footer__link-logo
	&__link-logo {
	}
	// .footer__img-logo
	&__img-logo {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
	// .footer__text
	&__text {
		line-height: 1.38;
		font-weight: 500;
		@include adaptiveValue("font-size", 18, 14);
	}
	// .footer__items
	&__items {
		max-width: toRem(806);
		flex-grow: 1;
		display: grid;
		justify-content: space-between;
		grid-template-columns: toRem(253) toRem(124) toRem(173);
		row-gap: toRem(20);
		@include adaptiveValue("column-gap", 50, 20);
		@media (max-width: toEm(1135)) {
			grid-template-columns: toRem(235) toRem(120) toRem(173);
		}
		@media (max-width: toEm(868)) {
			max-width: 100%;
			grid-template-columns: toRem(210) toRem(110) toRem(173);
		}
		@media (max-width: toEm(580)) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: toEm($mobileSmall)) {
			grid-template-columns: 1fr;
		}
	}
	// .footer__item
	&__item {
		&--link {
		}
	}
	// .footer__copy
	&__copy {
		@include adaptiveValue("font-size", 16, 12);
		@include adaptiveValue("padding-block", 43, 20);
		line-height: 1.88;
		color: $grey7;
		text-align: center;
		background-color: $black;
	}
}
.item-footer {
	// .item-footer__title
	&__title {
		text-wrap: balance;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 20, 10);
		}
		@include typography("XXL");
		line-height: 1.5; //2
		font-weight: 600;
		color: $black;
	}
	// .item-footer__address
	&__address {
		font-style: normal;
	}
	// .item-footer__list
	&__list {
	}
}
.about-list {
	// .about-list__item
	&__item {
		&:not(:last-child) {
			margin-bottom: toRem(7);
		}
	}
	// .about-list__link
	&__link {
		line-height: 1.88;
		font-weight: 500;
		@include adaptiveValue("font-size", 16, 14);
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.contact-list {
	// .contact-list__item
	&__item {
		display: flex;
		column-gap: toRem(8);
		align-items: flex-start;

		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
	// .contact-list__icon
	&__icon {
		flex-shrink: 0;
		margin-top: toRem(4);
	}
	// .contact-list__link
	&__link {
		line-height: 1.7;
		font-weight: 500;
		@include adaptiveValue("font-size", 16, 14);
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.social-list {
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	row-gap: toRem(10);
	@include adaptiveValue("column-gap", 27, 20);
	// .social-list__item
	&__item {
	}
	// .social-list__link
	&__link {
	}
}
._icon-s-facebook,
._icon-s-twitter,
._icon-s-youtube,
._icon-s-instagram {
	vertical-align: bottom;
	color: $grey14;
	transition: color 0.3s ease;
	@media (any-hover: hover) and (any-pointer: fine) {
		&:hover {
			color: $grey11;
		}
	}
}
._icon-s-facebook {
	font-size: toRem(23);
}
._icon-s-twitter {
	font-size: toRem(18);
}
._icon-s-youtube {
	font-size: toRem(16);
}
._icon-s-instagram {
	font-size: toRem(22);
}
