@use "sass:math";
@use "settings" as *;
@use "colors" as *;
// =======================================================================================================================
.footer {
	// .footer__container
	&__container {
	}
	// .footer__content
	&__content {
	}
	// .footer__body
	&__body {
		display: grid;
		grid-template-columns: auto 1fr;
		row-gap: toRem(20);
		@include adaptiveValue("column-gap", 128, 10);
		@include adaptiveValue("padding-top", 90, 20);
		@include adaptiveValue("padding-bottom", 70, 20);
		@media (max-width: toEm($tablet)) {
			grid-template-columns: auto;
		}
	}
	// .footer__box
	&__box {
		max-width: toRem(437);
	}
	// .footer__logo
	&__logo {
		max-width: toRem(437);
		img {
			width: 100%;
			aspect-ratio: 388 / 90;
			object-fit: contain;
		}
	}
	// .footer__text
	&__text {
		line-height: 1.38;
		max-width: toRem(400);
		@include adaptiveValue("font-size", 16, 14);
	}
	&__box,
	&__text {
		@media (max-width: toEm($tablet)) {
			max-width: 100%;
		}
	}
	// .footer__items
	&__items {
		display: grid;
		grid-template-columns: 1fr 1fr auto;
		row-gap: toRem(20);
		@include adaptiveValue("column-gap", 128, 30);
		@media (max-width: toEm(595)) {
			grid-template-columns: 1fr 1fr;
		}
		@media (max-width: toEm(450)) {
			grid-template-columns: auto;
		}
	}
	// .footer__item
	&__item {
	}
	// .footer__copy
	&__copy {
		@include adaptiveValue("padding-block", 43, 25);
		line-height: 1.88;
		color: $grey7;
		text-align: center;
		background-color: $black;
		padding-inline: toRem(15);
	}
}
.item-footer {
	// .item-footer__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 20, 10);
		}
		@include typography("XXL");
		white-space: nowrap;
		line-height: 2;
		font-weight: 600;
		color: $black;
	}
	// .item-footer__list
	&__list {
	}
}
.about-list {
	// .about-list__item
	&__item {
		&:not(:last-child) {
			margin-bottom: toRem(7);
		}
	}
	// .about-list__link
	&__link {
		line-height: 1.88;
		font-weight: 500;
		@include adaptiveValue("font-size", 16, 14);
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.contact-list {
	// .contact-list__item
	&__item {
		display: flex;
		column-gap: toRem(8);
		align-items: center;
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
	// .contact-list__icon
	&__icon {
		flex-shrink: 0;
	}
	// .contact-list__link
	&__link {
		line-height: 1.7;
		font-weight: 500;
		@include adaptiveValue("font-size", 16, 14);
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.social-list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	row-gap: toRem(10);
	@include adaptiveValue("column-gap", 27, 15);
	// .social-list__item
	&__item {
	}
	// .social-list__link
	&__link {
	}
}
._icon-s-facebook,
._icon-s-twitter,
._icon-s-youtube,
._icon-s-instagram {
	vertical-align: middle;
	color: $grey14;
	transition: color 0.3s ease;
	@media (any-hover: hover) and (any-pointer: fine) {
		&:hover {
			color: $grey11;
		}
	}
}
._icon-s-facebook {
	width: toRem(23);
	font-size: toRem(23);
}
._icon-s-twitter {
	width: toRem(22);
}
._icon-s-youtube {
	width: toRem(25);
	font-size: toRem(16);
}
._icon-s-instagram {
	width: toRem(22);
	font-size: toRem(22);
}
